swagger: "2.0"
info:
  version: 1.0.0
  title: Debtor Positions API
  contact:
    name: PagoPA
    url: https://www.pagopa.gov.it/
  x-logo:
    url: https://www.pagopa.gov.it/assets/images/pagopa-logo.png
  description: Specification for Debtor Positions API
host: api.io.italia.it.TOBEDEFINE
basePath: "/api/v1"
schemes:
  - https
security:
  - ApiKey: []
tags:
  - name: Payments
    description: Everything about Payments
  - name: Receipts
    description: Everything about Receipts 
paths:
  "/organizations/{organizationfiscalcode}/payment-notices/{paymentnoticenumber}":
    post:
      tags: 
        - Payments
      operationId: createPosition
      summary: |
        The Organization creates a Debt Position
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/PaymentNoticeNumber"
        - name: payment_position
          in: body
          required: true
          schema:
            $ref: "#/definitions/PaymentPosition"
      responses:
        "201":
          description: Request created.
          schema:
            $ref: "#/definitions/PaymentPosition"
        "401":
          description: Wrong or missing function key.
        "409":
          description: "Conflict: pending request found."
          schema:
            $ref: "#/definitions/ProblemJson"
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
    get:
      tags: 
        - Payments
      operationId: getPosition
      summary: |
        Return the details of a specific debt position.
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/PaymentNoticeNumber"        
      responses:
        "200":
          description: payment position details.
          schema:
            $ref: "#/definitions/PaymentPosition"
        "401":
          description: Wrong or missing function key.
        "404":
          description: No payment found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
    delete:
      tags: 
        - Payments
      operationId: delPosition
      summary: |
        Delete the debt positions of the organization
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/PaymentNoticeNumber"        
      responses:
        "200":
          description: payment position details.
          schema:
            $ref: "#/definitions/PaymentPosition"
        "401":
          description: Wrong or missing function key.
        "404":
          description: No payment position found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
    put:
      tags: 
        - Payments
      operationId: updatePosition
      summary: |
        Update a Debt Position
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/PaymentNoticeNumber"
        - name: payment_position
          in: body
          required: true
          schema:
            $ref: "#/definitions/PaymentPosition"
      responses:
        "204":
          description: Request updated.
          schema:
            $ref: "#/definitions/PaymentPosition"
        "401":
          description: Wrong or missing function key.
        "409":
          description: "Conflict: pending request found."
          schema:
            $ref: "#/definitions/ProblemJson"
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
  "/organizations/{organizationfiscalcode}/payment-receipts/{receiptid}":
    get:
      tags: 
        - Receipts
      operationId: getReceipt
      summary: |
        Get a payment receipt by its `receiptid` .
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/ReceiptNumber"        
      responses:
        "200":
          description: payment receipts 
          schema:
            $ref: "#/definitions/ReceiptPayment"
        "401":
          description: Wrong or missing function key.
        "404":
          description: No payment found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
  "/organizations/{organizationfiscalcode}/payment-receipts":
    get:
      tags: 
        - Receipts
      operationId: getReceipts
      summary: |
        Get a list of payment receipts.
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
      responses:
        "200":
          description: payment receipts 
          schema:
            $ref: "#/definitions/Receipts"
        "401":
          description: Wrong or missing function key.
        "404":
          description: No payment found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
parameters:
  ReceiptNumber:
    name: receiptid
    in: path
    type: string
    required: true
    description: The receipt identification.
  OrganizationFiscalCode:
    name: organizationfiscalcode
    in: path
    type: string
    x-import: italia-ts-commons/lib/strings
    required: true
    description: Organization fiscal code, the fiscal code of the Organization.
  FiscalCode:
    name: fiscalcode
    in: path
    type: string
    maxLength: 16
    minLength: 16
    required: true
    description: The fiscal code of the user, all upper case.
  PaymentNoticeNumber:
    in: path
    name: paymentnoticenumber
    required: true
    description:
      The field ["Numero Avviso"](https://pagopa-specifichepagamenti.readthedocs.io/it/latest/_docs/Capitolo7.html#il-numero-avviso-e-larchivio-dei-pagamenti-in-attesa)
      of pagoPa, needed to identify the payment. Format is `<aux digit (1n)>[<application code> (2n)]<codice IUV (15|17n)>`.
      See [pagoPa specs](https://www.agid.gov.it/sites/default/files/repository_files/specifiche_attuative_pagamenti_1_3_1_0.pdf) for more info on this field and the IUV.
    type: string
    pattern: "^[0123][0-9]{17}$"
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  ApiKey:
    type: apiKey
    name: X-Functions-Key
    in: header
    description: The API key to access this function app.
definitions:
  Timestamp:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/Timestamp"
  FiscalCode:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/FiscalCode"
  OrganizationFiscalCode:
    $ref: 'https://raw.githubusercontent.com/pagopa/io-functions/v0.64.0/api/definitions.yaml#/OrganizationFiscalCode'
  PaymentNoticeNumber:
    $ref: "https://raw.githubusercontent.com/teamdigitale/io-functions-commons/master/openapi/definitions.yaml#/PaymentNoticeNumber"
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v18.0.7/openapi/definitions.yaml#/ProblemJson"
  PaginationResponse:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v18.0.7/openapi/definitions.yaml#/PaginationResponse"
  Amount:
    description: |-
      Amount in euro cent. PagoPA accepts up to 9999999999 euro cents.
    type: integer
    minimum: 1
    maximum: 9999999999
    example: 15000
  Iban:
    type: string
    pattern: '[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{1,30}'
    example: IT60X0542811101000000123456
  PaymentOptionId:
    type: string
    minLength: 1
    example: 12345678901-009876543212346543-001
    description: Payment option ID its a union of `Organization fiscal code` + `-` + `Payment Notice Number` + unique counter number
    pattern: "^[0-9]*-[0123][0-9]{17}-[0-9]{3}$"
  DetailResponse:
    type: object
    properties:
      detail:
        type: string
    required:
      - detail
  DepartmentName:
    type: string
    description: |-
      The department inside the organization that runs the service. Will
      be added to the content of sent messages.
    minLength: 1
    example: ufficio tributi comune di Roma
  Taxonomy:
    type: string
    pattern: "^[0-9]{3}-[a-zA-Z]$"
    example: 010-TARI/TEFA
    description: Payment Tax see [Tabella - Tassonomia dei servizi di incasso](https://docs.google.com/spreadsheets/d/13xOd__Qd4pwKHr3wjE-73NAB2O7UKmIt/edit#gid=1444196601)
  Transfer:
    type: object
    properties:
      partial_amount:
        $ref: "#/definitions/Amount"
      iban:
        $ref: "#/definitions/Iban"
      organization_fiscal_code:
        $ref: "#/definitions/OrganizationFiscalCode"
      reason:
          type: string
          minLength: 1
          example: Causale pagamento TARI comune di ROMA 
      taxonomy:
          $ref: "#/definitions/Taxonomy"
    required:
      - partial_amount
      - iban
      - organization_fiscal_code
      - taxonomy
  Psp:
    type: object
    properties:
      id:
        type: string
        minLength: 1
        example: psp1234567890
      company_name:
        type: string
        minLength: 1
        example: PSP company name
      channel_id:
        type: string
        minLength: 1
        example: PSP'channel identification
      description:
        type: string
        minLength: 1
        example: PSP'description
    required:
      - id
      - company_name
      - channel_id
      - description
  Debtor:
    type: object
    properties:
      name:
        type: string
        minLength: 1
        example: Mario
      surname:
        type: string
        minLength: 1
        example: Rossi
      fiscal_code:
        $ref: "#/definitions/FiscalCode"
      type:
        type: string
        enum:
          - FISICA
          - GIURIDICA
        description: Payment Status  
    required:
      - name
      - surname
      - type
  Payment-Option:
    type: object
    properties:
      id:
        $ref: "#/definitions/PaymentOptionId"
      amount:
        $ref: "#/definitions/Amount"
      due_date:
        $ref: "#/definitions/Timestamp"
      is_conclusive:
        type: boolean
        default: true
      payment_description: 
        type: string
        minLength: 1
        example: TARI 2021 soluzione unica
      transfers:
        type: array
        items:
          $ref: "#/definitions/Transfer"
    required:
      - id
      - amount
      - due_date
      - is_conclusive
      - payment_description
      - transfers
  Receipts:      
    type: object
    properties:
      receipts:
        type: array
        items:
          $ref: "#/definitions/ReceiptPayment"
  GeneralInfoReceipt:
    type: object
    properties:
      id:
        type: string
        minLength: 1
        example: 123e4567-e89b-12d3-a456-426614174000
        description: Receipt identification generated by NodoSPC
      notice_id:
        $ref: "#/definitions/PaymentNoticeNumber"
      option_id:
        $ref: "#/definitions/PaymentOptionId"
      organization_fiscal_code:
        $ref: "#/definitions/OrganizationFiscalCode"
      outcome:
        type: string
        enum:
          - OK
          - NOK
    required:
      - id
      - notice_id
      - option_id
      - organization_fiscal_code
      - outcome
  ReceiptPayment:
    type: object
    properties:
      info:
        $ref: "#/definitions/GeneralInfoReceipt"
      debtor:
        $ref: "#/definitions/Debtor"
      psp:
        $ref: "#/definitions/Psp"
      payer:
        $ref: "#/definitions/Debtor"
      payment_method:
        type: string      
      payment_description:
        type: string      
      payment_category:
        type: string      
      amount:
        $ref: "#/definitions/Amount"
      fee:
        $ref: "#/definitions/Amount"
      application_date:
        type: string
        format: date-time      
      transfer_date:
        type: string
        format: date-time      
      transfers:
        type: array
        items:
          $ref: "#/definitions/Transfer"
    required:
      - info
      - debtor
      - psp
      - payer
      - payment_method
      - payment_description
      - payment_category
      - amount
      - fee
      - application_date
      - transfer_date
      - transfers
  PaymentPosition:
    type: object
    properties:
      id:
        $ref: "#/definitions/PaymentNoticeNumber"
        description: Payment Notice Number
        example: 009876543212346543
      organization_fiscal_code:
        $ref: "#/definitions/OrganizationFiscalCode"
      status:
        type: string
        enum:
          - PAYABLE
          - NOT_PAYABLE
        description: Payment Status  
      taxonomy:
          $ref: "#/definitions/Taxonomy"
      department:
        $ref: "#/definitions/DepartmentName"
      debtor:
        $ref: "#/definitions/Debtor"
      payment_options:
        type: array
        items:
          $ref: "#/definitions/Payment-Option"
    required:
      - id
      - organization_fiscal_code
      - status
      - taxonomy
      - department
      - payment_options
