swagger: "2.0"
info:
  version: 1.0.4
  title: Debtor Positions API
  contact:
    name: PagoPA
    url: https://www.pagopa.gov.it/
  x-logo:
    url: https://www.pagopa.gov.it/assets/images/pagopa-logo.png
  description: Specification for Debtor Positions API
host: api.io.italia.it.TOBEDEFINE
basePath: "/api/v1"
schemes:
  - https
security:
  - ApiKey: []
tags:
  - name: Debt Positions
    description: Everything about Debt Positions
  # - name: Receipts
  #   description: Everything about Receipts 
paths:
  "/organizations/{organizationfiscalcode}/payment-notices/{debtpositionnumber}":
    post:
      tags: 
        - Debt Positions
      operationId: createPosition
      summary: |
        The Organization creates a Debt Position
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/DebtPositionNumber"
        - name: debtposition
          in: body
          required: true
          schema:
            $ref: "#/definitions/DebtPositionReq"
      responses:
        "201":
          description: Request created.
          # schema:
          #   $ref: "#/definitions/DebtPosition"
        "401":
          description: Wrong or missing function key.
        "409":
          description: "Conflict: pending request found."
          schema:
            $ref: "#/definitions/ProblemJson"
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
    get:
      tags: 
        - Debt Positions
      operationId: getPositionByNoticeNumber
      summary: |
        Return the details of a specific debt position.
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/DebtPositionNumber"
      responses:
        "200":
          description: payment position details.
          schema:
            $ref: "#/definitions/DebtPosition"
        "401":
          description: Wrong or missing function key.
        "404":
          description: No payment found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
    delete:
      tags: 
        - Debt Positions
      operationId: delPosition
      summary: |
        Delete a Debt Position
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/DebtPositionNumber"        
      responses:
        "200":
          description: Operation completed successfully.
        "401":
          description: Wrong or missing function key.
        "404":
          description: No payment position found.
        "405":
          description: Method not allowed (existing related payment found).
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
    put:
      tags: 
        - Debt Positions
      operationId: updatePosition
      summary: |
        Update a Debt Position
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/DebtPositionNumber"
        - name: debtposition
          in: body
          required: true
          schema:
            $ref: "#/definitions/DebtPositionReq"
      responses:
        "204":
          description: Request updated.
        "401":
          description: Wrong or missing function key.
        "404":
          description: No payment position found.
        "405":
          description: Method not allowed (existing related payment found).
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
            
  "/organizations/{organizationfiscalcode}/payment-notices":
    get:
      tags: 
        - Debt Positions
      operationId: getPositionAll
      summary: |
        Return a list of filtered Debt Positions.
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/AmountFrom"
        - $ref: "#/parameters/AmountTo"
        - $ref: "#/parameters/DueDateFrom"
        - $ref: "#/parameters/DueDateTo"
        - $ref: "#/parameters/Status"
        - $ref: "#/parameters/Limit"
        - $ref: "#/parameters/Offset"
      responses:
        "200":
          description: payment position details.
          schema:
            $ref: "#/definitions/DebtPositions"
        "401":
          description: Wrong or missing function key.
        "404":
          description: No payment found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
            
parameters:
  ReceiptNumber:
    name: receiptid
    in: path
    type: string
    required: true
    description: The receipt identification
    maxLength: 50
  OrganizationFiscalCode:
    name: organizationfiscalcode
    in: path
    type: string
    x-import: italia-ts-commons/lib/strings
    required: true
    description: Organization fiscal code, the fiscal code of the Organization.
    maxLength: 50
  FiscalCode:
    name: fiscalcode
    in: path
    type: string
    maxLength: 16
    minLength: 16
    required: true
    description: The fiscal code of the user, all upper case.
  DebtPositionNumber:
    in: path
    name: debtpositionnumber
    required: true
    description: IUPD (Unique identifier of the debt position). Format could be `<Organization fiscal code + UUID>` this would make it unique within the new PD management system.
      It's the responsibility of the EC to guarantee uniqueness. The pagoPa system shall verify that this is `true` and if not, notify the EC.
    type: string
    pattern: '^[\w\d]{1,16}-[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
  AmountFrom:
    in: query
    name: amount_from
    required: false
    type: integer
    description: The mimimum amount to filter from, in Euro cents. The value refers to the paymentOption.amount field in the GET/.../payment-notices case, while it refers to the ReceiptAmount.amount field in the GET/.../payment-receipts case.
    minimum: 1
    maximum: 9999999999
  AmountTo:
    in: query
    name: amount_to
    required: false
    type: integer
    description: The maximum amount to filter to, in Euro cents.
    minimum: 1
    maximum: 9999999999
  DueDateFrom:
    in: query
    name: due_date_from
    required: false
    type: string
    format: date
    description: The due date to filter from.
  DueDateTo:
    in: query
    name: due_date_to
    required: false
    type: string
    format: date
    description: The due date to filter to.
  PaymentDateFrom:
    in: query
    name: payment_date_from
    required: false
    type: string
    format: date
    description: The receipt's payment date to filter from.
  PaymentDateTo:
    in: query
    name: payment_date_to
    required: false
    type: string
    format: date
    description: The receipt's payment date to filter to.
  Status:
    in: query
    name: status
    required: false
    type: string
    description: Payment status
    enum: [INSERTED, PAYING, PAID, NOTIFIED]
  Limit:
    in: query
    name: limit
    required: false
    type: integer
    minimum: 1
    maximum: 100
    default: 20
    description: The number of items to return (from 1 to 100).
  Offset:
    in: query
    name: offset
    required: false
    type: integer
    minimum: 0
    description: The number of items to skip before starting to collect the result set.
  
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  ApiKey:
    type: apiKey
    name: X-Functions-Key
    in: header
    description: The API key to access this function app.
definitions:
  Timestamp:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/Timestamp"
  FiscalCode:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/FiscalCode"
  OrganizationFiscalCode:
    $ref: 'https://raw.githubusercontent.com/pagopa/io-functions/v0.64.0/api/definitions.yaml#/OrganizationFiscalCode'
  PaymentNoticeNumber:
    $ref: "https://raw.githubusercontent.com/teamdigitale/io-functions-commons/master/openapi/definitions.yaml#/PaymentNoticeNumber"
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v18.0.7/openapi/definitions.yaml#/ProblemJson"
  PaginationResponse:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v18.0.7/openapi/definitions.yaml#/PaginationResponse"
  Amount:
    description: |-
      Amount in euro cent. PagoPA accepts up to 9999999999 euro cents.
    type: integer
    minimum: 1
    maximum: 9999999999
    example: 15000
  Iban:
    type: string
    pattern: '[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{1,30}'
    example: IT60X0542811101000000123456
  PaymentOptionId:
    type: integer
    minimum: 1
    example: 1
    description: Payment option ID its a unique identifier for each payment option crated by NodoSPC
  IUV:
    type: string
    minLength: 1
    maxLength: 35
    example: 13201214660599631
    description: Payment's Unique Identifier, needed to identify the payment, see [here](https://docs.italia.it/italia/pagopa/pagopa-codici-docs/it/stabile/_docs/Capitolo2.html#composizione-del-codice-iuv)
    pattern: "^[0123][0-9]{17}$"
  DetailResponse:
    type: object
    properties:
      detail:
        type: string
    required:
      - detail
  CompanyName:
    type: string
    description: |-
      The name of the company.
    minLength: 1
    maxLength: 140
    example: comune di Roma
  OfficeName:
    type: string
    description: |-
      The name of the office.
    minLength: 1
    maxLength: 140
    example: Ufficio Tributi del comune di Roma
  Name:
    type: string
    description: |-
      The office inside the organization that runs the service.
    minLength: 1
    maxLength: 140
    example: ufficio tributi comune di Roma
  Taxonomy:
    type: string
    pattern: "^[0-9]{3}-[a-zA-Z]$"
    example: 010-TARI/TEFA
    description: Payment Tax see [Tabella - Tassonomia dei servizi di incasso](https://docs.google.com/spreadsheets/d/13xOd__Qd4pwKHr3wjE-73NAB2O7UKmIt/edit#gid=1444196601)
  Transfer:
    type: object
    properties:
      partial_amount:
        $ref: "#/definitions/Amount"
      iban:
        $ref: "#/definitions/Iban"
      organization_fiscal_code:
        $ref: "#/definitions/OrganizationFiscalCode"
      reason:
          type: string
          minLength: 1
          example: Causale pagamento TARI comune di ROMA
          maxLength: 512
      taxonomy:
          $ref: "#/definitions/Taxonomy"
    required:
      - partial_amount
      - iban
      - organization_fiscal_code
      - taxonomy
  Psp:
    type: object
    properties:
      id:
        type: string
        minLength: 1
        maxLength: 50
        example: psp1234567890
      psp_fiscal_code:
        type: string
        minLength: 1
        maxLength: 50
        example: CF70000000001
        description: PSP fiscal code
      psp_vat_number:
        type: string
        minLength: 1
        maxLength: 50
        description: PSP VAT number
      company_name:
        type: string
        minLength: 1
        maxLength: 140
        example: PSP company name
      channel_id:
        type: string
        minLength: 1
        maxLength: 50
        example: PSP'channel identification
      description:
        type: string
        minLength: 1
        maxLength: 50
        example: PSP'description
    required:
      - id
      - company_name
      - channel_id
      - psp_fiscal_code
      - psp_vat_number
      - description
  Debtor:
    type: object
    properties:
      name:
        type: string
        minLength: 1
        maxLength: 100
        example: Mario
      surname:
        type: string
        minLength: 1
        maxLength: 150
        example: Rossi
      fiscal_code:
        $ref: "#/definitions/FiscalCode"
      type:
        type: string
        enum:
          - F
          - G
        description: Type of person (`F` stay for  _PERSON_NATURAL_ and `G` for _PERSON_LEGAL_)
      street_name:
        type: string
        example: Via Gonin
        maxLength: 255
      civic_number:
        type: string
        example: 36
        maxLength: 50
      postal_code:
        type: string
        example: 20124
        maxLength: 50
      city:
        type: string
        example: Milano
        maxLength: 50
      state_province_region:
        type: string
        example: Mi
        maxLength: 50
      country:
        type: string
        example: Italia
        maxLength: 50
      email:
        type: string
        format: email
        example: example@sia.eu
        maxLength: 256
    required:
      - name
      - surname
      - type
  Payment-Option-Req:
    type: object
    properties:
      iuv:
        $ref: "#/definitions/IUV"
      amount:
        $ref: "#/definitions/Amount"
      due_date:
        $ref: "#/definitions/Timestamp"
      retention_date:
        $ref: "#/definitions/Timestamp"
      is_conclusive:
        description : indicates if the payment option is part of an installment payment. In case of payment by installments, the associated deb position is to be considered _paid_ if and only if all payments of installments are _paid_
        type: boolean
        default: true
      metadata:
        type: array
        items:
          type: string
          maxLength: 255
        minItems: 1
        maxItems: 20
        description: List of optional fields for metadata (a max of 10 key-value pairs). This is an optional field allow the organizations to enter information useful to their needs, typically related to accounting reconciliation, management programs alignment, etc.
      transfers:
        type: array
        items:
          $ref: "#/definitions/Transfer"
    required:
      - iuv
      - amount
      - due_date
      - retention_date
      - is_conclusive
      - transfers
  Payment-Option:
    type: object
    properties:
      id:
        $ref: "#/definitions/PaymentOptionId"
      iuv:
        $ref: "#/definitions/IUV"
      amount:
        $ref: "#/definitions/Amount"
      due_date:
        $ref: "#/definitions/Timestamp"
      retention_date:
        $ref: "#/definitions/Timestamp"
      is_conclusive:
        type: boolean
        default: true
      metadata:
        type: array
        items:
          type: string
          maxLength: 255
        minItems: 1
        maxItems: 20
        description: List of optional fields for metadata (a max of 10 key-value pairs)
      transfers:
        type: array
        items:
          $ref: "#/definitions/Transfer"
    required:
      - id
      - iuv
      - amount
      - due_date
      - retention_date
      - is_conclusive
      - transfers
  Receipts:      
    type: object
    properties:
      receipts:
        type: array
        items:
          $ref: "#/definitions/ReceiptPayment"
  GeneralInfoReceipt:
    type: object
    properties:
      id:
        type: string
        minLength: 1
        example: 123e4567-e89b-12d3-a456-426614174000
        description: Receipt identification generated by NodoSPC
      notice_id:
        $ref: "#/definitions/PaymentNoticeNumber"
      option_id:
        $ref: "#/definitions/PaymentOptionId"
      organization_fiscal_code:
        $ref: "#/definitions/OrganizationFiscalCode"
      outcome:
        type: string
        enum:
          - OK
          - NOK
    required:
      - id
      - notice_id
      - option_id
      - organization_fiscal_code
      - outcome
  ReceiptPayment:
    type: object
    properties:
      info:
        $ref: "#/definitions/GeneralInfoReceipt"
      debtor:
        $ref: "#/definitions/Debtor"
      psp:
        $ref: "#/definitions/Psp"
      payer:
        $ref: "#/definitions/Debtor"
      payment_method:
        type: string      
      payment_description:
        type: string 
      amount:
        $ref: "#/definitions/Amount"
      fee:
        $ref: "#/definitions/Amount"
      application_date:
        type: string
        format: date-time      
      transfer_date:
        type: string
        format: date-time
      payment_date_time:
        type: string
        format: date-time
      metadata:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 20
        description: List of optional fields for metadata (a max of 10 key-value pairs)
      transfers:
        type: array
        items:
          $ref: "#/definitions/Transfer"
    required:
      - info
      - debtor
      - psp
      - payer
      - payment_method
      - payment_description
      - amount
      - fee
      - application_date
      - transfer_date
      - payment_date_time
      - transfers
  DebtPositionReq:
    type: object
    properties:
      company_name:
        $ref: "#/definitions/CompanyName"
      office_name:
        $ref: "#/definitions/OfficeName"
      description: 
        type: string
        minLength: 1
        maxLength: 140
        example: TARI 2021 soluzione unica
      amount:
        $ref: "#/definitions/Amount"
      debtor:
        $ref: "#/definitions/Debtor"
      taxonomy:
          $ref: "#/definitions/Taxonomy"
      payment_options:
        type: array
        items:
          $ref: "#/definitions/Payment-Option-Req"
    required:
      - company_name
      - office_name
      - payment_description
      - payment_options
      - debtor
  DebtPositions:
    type: array
    items:
      $ref: "#/definitions/DebtPosition"
  DebtPosition:
    type: object
    properties:
      id:
        description: IUPD (Unique identifier of the debt position). Format could be `<Organization fiscal code + UUID>` this would make it unique within the new PD management system. It's the responsibility of the EC to guarantee uniqueness. The pagoPa system shall verify that this is `true` and if not, notify the E.
        type: string
        pattern: '^[\w\d]{1,16}-[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
      organization_fiscal_code:
        $ref: "#/definitions/OrganizationFiscalCode"
      status:
        type: string
        enum:
          - INSERTED
          - PAYING
          - PAID
          - NOTIFIED
        description: Payment Status
      company_name:
        $ref: "#/definitions/CompanyName"
      office_name:
        $ref: "#/definitions/OfficeName"
      description: 
        type: string
        minLength: 1
        maxLength: 140
        example: TARI 2021 soluzione unica
      amount:
        $ref: "#/definitions/Amount"
      debtor:
        $ref: "#/definitions/Debtor"
      taxonomy:
          $ref: "#/definitions/Taxonomy"
      payment_options:
        type: array
        items:
          $ref: "#/definitions/Payment-Option"
    required:
      - id
      - organization_fiscal_code
      - status
      - company_name
      - office_name
      - payment_description
      - payment_options
