swagger: "2.0"
info:
  version: 1.0.0
  title: Debtor Positions Interfaces API
  contact:
    name: PagoPA
    url: https://www.pagopa.gov.it/
  x-logo:
    url: https://www.pagopa.gov.it/assets/images/pagopa-logo.png
  description: Specification for Debtor Positions Interfaces
host: api.io.italia.it.TOBEDEFINE
basePath: "/api/v1"
schemes:
  - https
security:
  - ApiKey: []
paths:
  "/payment-notices/{organizationfiscalcode}-{paymentnoticenumber}":
    post:
      operationId: createDbPosition
      summary: |
        The PA creates a Debt Position
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/PaymentNoticeNumber"
        - name: payment-posistion
          in: body
          required: true
          schema:
            $ref: "#/definitions/PaymentPosition"
          examples:
            application/json:
              time_to_live: 3600
              content:
                subject: ipsum labore deserunt fugiat
                markdown: |-
                  Nullam dapibus metus sed elementum efficitur. Curabitur facilisis sagittis risus nec sodales.
                  Vestibulum in eros sapien. Donec ac odio sit amet dui semper ornare eget nec odio. Pellentesque habitant
                  morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent nibh ex, mattis sit amet
                  felis id, sodales euismod velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        
      responses:
        "201":
          description: Request created.
          schema:
            $ref: "#/definitions/PaymentPosition"
        "401":
          description: Wrong or missing function key.
        "409":
          description: "Conflict: pending request found."
          schema:
            $ref: "#/definitions/ProblemJson"
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
    get:
      operationId: getDbPosition
      summary: |
        The PA gets the details of a specific debt position, or searches for all its PDs that meet a certain search criterion.
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/PaymentNoticeNumber"        
      responses:
        "200":
          description: payment position details.
          schema:
            $ref: "#/definitions/PaymentPosition"
        "401":
          description: Wrong or missing function key.
        "404":
          description: No payment found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
    delete:
      operationId: delDbPosition
      summary: |
        ThePA can only cancel its own PDs, or rather the entities it manages.
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/PaymentNoticeNumber"        
      responses:
        "200":
          description: payment position details.
          schema:
            $ref: "#/definitions/PaymentPosition"
        "401":
          description: Wrong or missing function key.
        "404":
          description: No payment found.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
    patch:
      operationId: updateDbPosition
      summary: |
        The PA update a Debt Position
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/PaymentNoticeNumber"
      responses:
        "204":
          description: Request updated.
          schema:
            $ref: "#/definitions/PaymentPosition"
        "401":
          description: Wrong or missing function key.
        "409":
          description: "Conflict: pending request found."
          schema:
            $ref: "#/definitions/ProblemJson"
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
            
            
parameters:
  OrganizationFiscalCode:
    name: organizationfiscalcode
    in: path
    type: string
    x-import: italia-ts-commons/lib/strings
    required: true
    description: Organization fiscal code, the fiscal code of the PA.
  FiscalCode:
    name: fiscalcode
    in: path
    type: string
    maxLength: 16
    minLength: 16
    required: true
    description: The fiscal code of the user, all upper case.
  PaymentNoticeNumber:
    in: path
    name: paymentnoticenumber
    required: true
    description:
      The field ["Numero Avviso"](https://pagopa-specifichepagamenti.readthedocs.io/it/latest/_docs/Capitolo7.html#il-numero-avviso-e-larchivio-dei-pagamenti-in-attesa)
      of pagoPa, needed to identify the payment. Format is `<aux digit (1n)>[<application code> (2n)]<codice IUV (15|17n)>`.
      See [pagoPa specs](https://www.agid.gov.it/sites/default/files/repository_files/specifiche_attuative_pagamenti_1_3_1_0.pdf) for more info on this field and the IUV.
    type: string
    pattern: "^[0123][0-9]{17}$"
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  ApiKey:
    type: apiKey
    name: X-Functions-Key
    in: header
    description: The API key to access this function app.
definitions:
  Timestamp:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/Timestamp"
  FiscalCode:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/FiscalCode"
  OrganizationFiscalCode:
    $ref: 'https://raw.githubusercontent.com/pagopa/io-functions/v0.64.0/api/definitions.yaml#/OrganizationFiscalCode'
  PaymentNoticeNumber:
    $ref: "https://raw.githubusercontent.com/teamdigitale/io-functions-commons/master/openapi/definitions.yaml#/PaymentNoticeNumber"
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/ProblemJson"
  PaginationResponse:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/PaginationResponse"
  DetailResponse:
    type: object
    properties:
      detail:
        type: string
    required:
      - detail
  DepartmentName:
    type: string
    description: |-
      The department inside the organization that runs the service. Will
      be added to the content of sent messages.
    minLength: 1
    example: ufficio tributi comune di Roma
  Transfer:
    type: object
  Debtor:
    type: object
    properties:
      name:
        type: string
        minLength: 1
        example: Mario
      surname:
        type: string
        minLength: 1
        example: Rossi
      fiscal_code:
        $ref: "#/definitions/FiscalCode"
      type:
        type: string
        enum:
          - FISICA
          - GIURIDICA
        description: Payment Status  
    required:
      - name
      - surname
      - type
  Payment-Option:
    type: object
    properties:
      transfers:
        type: array
        items:
          $ref: "#/definitions/Transfer"
    required:
      - transfers
  PaymentPosition:
    type: object
    properties:
      payment-notice-id:
        $ref: "#/definitions/PaymentNoticeNumber"
        description: Payment Notice Number
        example: 009876543212346543
      pa_fiscal_code:
        $ref: "#/definitions/OrganizationFiscalCode"
      status:
        type: string
        enum:
          - PAYABLE
          - NOT_PAYABLE
        description: Payment Status  
      taxonomy:
        type: string
        pattern: "^[0-9]{3}-[a-zA-Z]$"
        example: 010-TARI/TEFA
        description: Payment Tax see [Tabella - Tassonomia dei servizi di incasso](https://docs.google.com/spreadsheets/d/13xOd__Qd4pwKHr3wjE-73NAB2O7UKmIt/edit#gid=1444196601)
      department:
        $ref: "#/definitions/DepartmentName"
      debtor:
        $ref: "#/definitions/Debtor"
      payment-options:
        type: array
        items:
          $ref: "#/definitions/Payment-Option"
    required:
      - payment-notice-id
      - fiscal_code
      - status
      - taxonomy
      - department
      - payment-options
