{
    "openapi": "3.0.1",
    "info": {
        "title": "Biz Events Service",
        "description": "API to handle biz events payments",
        "version": "0.1.89"
    },
    "servers": [
        {
            "url": "https://api.platform.pagopa.it/bizevents/service/v1"
        }
    ],
    "paths": {
        "/organizations/{organizationfiscalcode}/receipts/{iur}": {
            "get": {
                "tags": [
                    "Payment Receipts REST APIs"
                ],
                "summary": "The organization get the receipt for the creditor institution using IUR.",
                "description": "The organization get the receipt for the creditor institution using IUR.",
                "operationId": "getOrganizationReceiptIur",
                "parameters": [
                    {
                        "name": "organizationfiscalcode",
                        "in": "path",
                        "description": "The fiscal code of the Organization.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "iur",
                        "in": "path",
                        "description": "The unique reference of the operation assigned to the payment (Payment Token).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Obtained receipt.",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CtReceiptModelResponse"
                                },
                                "example": {
                                    "receiptId": "string",
                                    "noticeNumber": "string",
                                    "fiscalCode": "string",
                                    "outcome": "string",
                                    "creditorReferenceId": "string",
                                    "paymentAmount": 0,
                                    "description": "string",
                                    "companyName": "string",
                                    "officeName": "string",
                                    "debtor": {
                                        "entityUniqueIdentifierType": "F",
                                        "entityUniqueIdentifierValue": "string",
                                        "fullName": "string",
                                        "streetName": "string",
                                        "civicNumber": "string",
                                        "postalCode": "string",
                                        "city": "string",
                                        "stateProvinceRegion": "string",
                                        "country": "string",
                                        "email": "string"
                                    },
                                    "transferList": [
                                        {
                                            "idTransfer": 0,
                                            "transferAmount": 0,
                                            "fiscalCodePA": "string",
                                            "iban": "string",
                                            "mbdAttachment": "string",
                                            "remittanceInformation": "string",
                                            "transferCategory": "string",
                                            "metadata": [
                                                {
                                                    "key": "string",
                                                    "value": "string"
                                                }
                                            ]
                                        }
                                    ],
                                    "idPSP": "string",
                                    "pspFiscalCode": "string",
                                    "pspPartitaIVA": "string",
                                    "pspCompanyName": "string",
                                    "idChannel": "string",
                                    "channelDescription": "string",
                                    "payer": {
                                        "entityUniqueIdentifierType": "F",
                                        "entityUniqueIdentifierValue": "string",
                                        "fullName": "string",
                                        "streetName": "string",
                                        "civicNumber": "string",
                                        "postalCode": "string",
                                        "city": "string",
                                        "stateProvinceRegion": "string",
                                        "country": "string",
                                        "email": "string"
                                    },
                                    "paymentMethod": "string",
                                    "fee": 0,
                                    "primaryCiIncurredFee": 0,
                                    "idBundle": "string",
                                    "idCiBundle": "string",
                                    "paymentDateTime": "string",
                                    "paymentDateTimeFormatted": "string",
                                    "applicationDate": "string",
                                    "transferDate": "string",
                                    "metadata": [
                                        {
                                            "key": "string",
                                            "value": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Wrong or missing function key.",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found the receipt.",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemJson"
                                },
                                "example": {
                                    "title": "string",
                                    "status": 200,
                                    "detail": "There was an error processing the request"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unable to process the request.",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemJson"
                                },
                                "example": {
                                    "title": "string",
                                    "status": 200,
                                    "detail": "There was an error processing the request"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests.",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable.",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemJson"
                                },
                                "example": {
                                    "title": "string",
                                    "status": 200,
                                    "detail": "There was an error processing the request"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{organizationfiscalcode}/receipts/{iur}/paymentoptions/{iuv}": {
            "get": {
                "tags": [
                    "Payment Receipts REST APIs"
                ],
                "summary": "The organization get the receipt for the creditor institution using IUV and IUR.",
                "description": "The organization get the receipt for the creditor institution using IUV and IUR.",
                "operationId": "getOrganizationReceiptIuvIur",
                "parameters": [
                    {
                        "name": "organizationfiscalcode",
                        "in": "path",
                        "description": "The fiscal code of the Organization.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "iur",
                        "in": "path",
                        "description": "The unique reference of the operation assigned to the payment (Payment Token).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "iuv",
                        "in": "path",
                        "description": "The unique payment identification. Alphanumeric code that uniquely associates and identifies three key elements of a payment: reason, payer, amount",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Obtained receipt.",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CtReceiptModelResponse"
                                },
                                "example": {
                                    "receiptId": "string",
                                    "noticeNumber": "string",
                                    "fiscalCode": "string",
                                    "outcome": "string",
                                    "creditorReferenceId": "string",
                                    "paymentAmount": 0,
                                    "description": "string",
                                    "companyName": "string",
                                    "officeName": "string",
                                    "debtor": {
                                        "entityUniqueIdentifierType": "F",
                                        "entityUniqueIdentifierValue": "string",
                                        "fullName": "string",
                                        "streetName": "string",
                                        "civicNumber": "string",
                                        "postalCode": "string",
                                        "city": "string",
                                        "stateProvinceRegion": "string",
                                        "country": "string",
                                        "email": "string"
                                    },
                                    "transferList": [
                                        {
                                            "idTransfer": 0,
                                            "transferAmount": 0,
                                            "fiscalCodePA": "string",
                                            "iban": "string",
                                            "mbdAttachment": "string",
                                            "remittanceInformation": "string",
                                            "transferCategory": "string",
                                            "metadata": [
                                                {
                                                    "key": "string",
                                                    "value": "string"
                                                }
                                            ]
                                        }
                                    ],
                                    "idPSP": "string",
                                    "pspFiscalCode": "string",
                                    "pspPartitaIVA": "string",
                                    "pspCompanyName": "string",
                                    "idChannel": "string",
                                    "channelDescription": "string",
                                    "payer": {
                                        "entityUniqueIdentifierType": "F",
                                        "entityUniqueIdentifierValue": "string",
                                        "fullName": "string",
                                        "streetName": "string",
                                        "civicNumber": "string",
                                        "postalCode": "string",
                                        "city": "string",
                                        "stateProvinceRegion": "string",
                                        "country": "string",
                                        "email": "string"
                                    },
                                    "paymentMethod": "string",
                                    "fee": 0,
                                    "primaryCiIncurredFee": 0,
                                    "idBundle": "string",
                                    "idCiBundle": "string",
                                    "paymentDateTime": "string",
                                    "paymentDateTimeFormatted": "string",
                                    "applicationDate": "string",
                                    "transferDate": "string",
                                    "metadata": [
                                        {
                                            "key": "string",
                                            "value": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Wrong or missing function key.",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found the receipt.",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemJson"
                                },
                                "example": {
                                    "title": "string",
                                    "status": 200,
                                    "detail": "There was an error processing the request"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unable to process the request.",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemJson"
                                },
                                "example": {
                                    "title": "string",
                                    "status": 200,
                                    "detail": "There was an error processing the request"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests.",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable.",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemJson"
                                },
                                "example": {
                                    "title": "string",
                                    "status": 200,
                                    "detail": "There was an error processing the request"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ProblemJson": {
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string",
                        "description": "A short, summary of the problem type. Written in english and readable for engineers (usually not suited for non technical stakeholders and not localized); example: Service Unavailable"
                    },
                    "status": {
                        "maximum": 600,
                        "minimum": 100,
                        "type": "integer",
                        "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                        "format": "int32",
                        "example": 200
                    },
                    "detail": {
                        "type": "string",
                        "description": "A human readable explanation specific to this occurrence of the problem.",
                        "example": "There was an error processing the request"
                    }
                }
            },
            "CtReceiptModelResponse": {
                "required": [
                    "companyName",
                    "creditorReferenceId",
                    "debtor",
                    "description",
                    "fiscalCode",
                    "idChannel",
                    "idPSP",
                    "noticeNumber",
                    "outcome",
                    "paymentAmount",
                    "pspCompanyName",
                    "receiptId",
                    "transferList"
                ],
                "type": "object",
                "properties": {
                    "receiptId": {
                        "type": "string"
                    },
                    "noticeNumber": {
                        "type": "string"
                    },
                    "fiscalCode": {
                        "type": "string"
                    },
                    "outcome": {
                        "type": "string"
                    },
                    "creditorReferenceId": {
                        "type": "string"
                    },
                    "paymentAmount": {
                        "type": "number"
                    },
                    "description": {
                        "type": "string"
                    },
                    "companyName": {
                        "type": "string"
                    },
                    "officeName": {
                        "type": "string"
                    },
                    "debtor": {
                        "$ref": "#/components/schemas/Debtor"
                    },
                    "transferList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TransferPA"
                        }
                    },
                    "idPSP": {
                        "type": "string"
                    },
                    "pspFiscalCode": {
                        "type": "string"
                    },
                    "pspPartitaIVA": {
                        "type": "string"
                    },
                    "pspCompanyName": {
                        "type": "string"
                    },
                    "idChannel": {
                        "type": "string"
                    },
                    "channelDescription": {
                        "type": "string"
                    },
                    "payer": {
                        "$ref": "#/components/schemas/Payer"
                    },
                    "paymentMethod": {
                        "type": "string"
                    },
                    "fee": {
                        "type": "number"
                    },
                    "primaryCiIncurredFee": {
                        "type": "number"
                    },
                    "idBundle": {
                        "type": "string"
                    },
                    "idCiBundle": {
                        "type": "string"
                    },
                    "paymentDateTime": {
                        "type": "string",
                        "format": "date"
                    },
                    "paymentDateTimeFormatted": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "applicationDate": {
                        "type": "string",
                        "format": "date"
                    },
                    "transferDate": {
                        "type": "string",
                        "format": "date"
                    },
                    "metadata": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MapEntry"
                        }
                    }
                }
            },
            "Debtor": {
                "required": [
                    "entityUniqueIdentifierType",
                    "entityUniqueIdentifierValue",
                    "fullName"
                ],
                "type": "object",
                "properties": {
                    "entityUniqueIdentifierType": {
                        "enum": [
                            "F",
                            "G"
                        ],
                        "type": "string"
                    },
                    "entityUniqueIdentifierValue": {
                        "type": "string"
                    },
                    "fullName": {
                        "type": "string"
                    },
                    "streetName": {
                        "type": "string"
                    },
                    "civicNumber": {
                        "type": "string"
                    },
                    "postalCode": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "stateProvinceRegion": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    }
                }
            },
            "MapEntry": {
                "type": "object",
                "properties": {
                    "key": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    }
                }
            },
            "Payer": {
                "required": [
                    "entityUniqueIdentifierType",
                    "entityUniqueIdentifierValue",
                    "fullName"
                ],
                "type": "object",
                "properties": {
                    "entityUniqueIdentifierType": {
                        "enum": [
                            "F",
                            "G"
                        ],
                        "type": "string"
                    },
                    "entityUniqueIdentifierValue": {
                        "type": "string"
                    },
                    "fullName": {
                        "type": "string"
                    },
                    "streetName": {
                        "type": "string"
                    },
                    "civicNumber": {
                        "type": "string"
                    },
                    "postalCode": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "stateProvinceRegion": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    }
                }
            },
            "TransferPA": {
                "required": [
                    "fiscalCodePA",
                    "iban",
                    "mbdAttachment",
                    "remittanceInformation",
                    "transferAmount",
                    "transferCategory"
                ],
                "type": "object",
                "properties": {
                    "idTransfer": {
                        "maximum": 5,
                        "minimum": 1,
                        "type": "integer",
                        "format": "int32"
                    },
                    "transferAmount": {
                        "type": "number"
                    },
                    "fiscalCodePA": {
                        "type": "string"
                    },
                    "iban": {
                        "type": "string"
                    },
                    "mbdAttachment": {
                        "type": "string"
                    },
                    "remittanceInformation": {
                        "type": "string"
                    },
                    "transferCategory": {
                        "type": "string"
                    },
                    "metadata": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MapEntry"
                        }
                    }
                }
            },
            "AppInfo": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "version": {
                        "type": "string"
                    },
                    "environment": {
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "tags": [
    ]
}
