{
    "openapi": "3.0.1",
    "info": {
        "title": "GPD for ACA pagoPA - Debt Positions service API for ACA",
        "description": "API to support Debt Positions service for ACA",
        "termsOfService": "https://www.pagopa.gov.it/",
        "version": "1.0.0"
    },
    "servers": [
        {
        "url": "https://api.platform.pagopa.it/aca/debt-positions-service/v1",
        "description": "ACA Production environment"
        }
    ],
    "paths": {
        "/organizations/{organizationfiscalcode}/debtpositions": {
            "get": {
                "description": "Return the list of the organization debt positions. The due dates interval is mutually exclusive with the payment dates interval.",
                "operationId": "getOrganizationDebtPositions",
                "summary": "Return the list of the organization debt positions. The due dates interval is mutually exclusive with the payment dates interval.",
                "tags": [
                    "Debt Positions API"
                ],
                "parameters": [
                    {
                        "name": "organizationfiscalcode",
                        "in": "path",
                        "description": "Organization fiscal code, the fiscal code of the Organization.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of elements on one page. Default = 50",
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "maximum": 50
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number. Page value starts from 0",
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "minimum": 0
                    },
                    {
                        "name": "due_date_from",
                        "in": "query",
                        "description": "Filter from due_date (if provided use the format yyyy-MM-dd). If not provided will be set to 30 days before the due_date_to.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "due_date_to",
                        "in": "query",
                        "description": "Filter to due_date (if provided use the format yyyy-MM-dd). If not provided will be set to 30 days after the due_date_from.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "payment_date_from",
                        "in": "query",
                        "description": "Filter from payment_date (if provided use the format yyyy-MM-dd). If not provided will be set to 30 days before the payment_date_to.",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "payment_date_to",
                        "in": "query",
                        "description": "Filter to payment_date (if provided use the format yyyy-MM-dd). If not provided will be set to 30 days after the payment_date_from",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "payment_date_time_from",
                        "in": "query",
                        "description": "Filter from payment_date_time (if provided use the format yyyy-MM-ddTHH:mm:ss). If not provided will be set to 30 days before the payment_date_time_from.",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "payment_date_time_to",
                        "in": "query",
                        "description": "Filter to payment_date_time (if provided use the format yyyy-MM-ddTHH:mm:ss). If not will be set to 30 days after the payment_date_time_to.",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by debt position status",
                        "type": "string",
                        "enum": [
                            "DRAFT",
                            "PUBLISHED",
                            "VALID",
                            "INVALID",
                            "EXPIRED",
                            "PARTIALLY_PAID",
                            "PAID",
                            "REPORTED"
                        ]
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "Order by INSERTED_DATE, COMPANY_NAME, IUPD or STATUS",
                        "type": "string",
                        "default": "INSERTED_DATE",
                        "enum": [
                            "INSERTED_DATE",
                            "IUPD",
                            "STATUS",
                            "COMPANY_NAME"
                        ]
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Direction of ordering",
                        "type": "string",
                        "default": "DESC",
                        "enum": [
                            "ASC",
                            "DESC"
                        ]
                    },
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Obtained all organization payment positions.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/PaymentPositionsInfo"
                        },
                        "examples": {
                            "application/json": {
                                "payment_position_list": [
                                    {
                                        "iupd": "string",
                                        "organizationFiscalCode": "string",
                                        "type": "F",
                                        "companyName": "string",
                                        "officeName": "string",
                                        "insertedDate": "string",
                                        "publishDate": "string",
                                        "validityDate": "string",
                                        "paymentDate": "string",
                                        "status": "DRAFT",
                                        "lastUpdatedDate": "string",
                                        "paymentOption": [
                                            {
                                                "nav": "string",
                                                "iuv": "string",
                                                "organizationFiscalCode": "string",
                                                "amount": 0,
                                                "description": "string",
                                                "isPartialPayment": true,
                                                "dueDate": "string",
                                                "retentionDate": "string",
                                                "paymentDate": "string",
                                                "reportingDate": "string",
                                                "insertedDate": "string",
                                                "paymentMethod": "string",
                                                "fee": 0,
                                                "notificationFee": 0,
                                                "pspCompany": "string",
                                                "idReceipt": "string",
                                                "idFlowReporting": "string",
                                                "status": "PO_UNPAID",
                                                "lastUpdatedDate": "string",
                                                "paymentOptionMetadata": [
                                                    {
                                                        "key": "string",
                                                        "value": "string"
                                                    }
                                                ],
                                                "transfer": [
                                                    {
                                                        "organizationFiscalCode": "string",
                                                        "companyName": "string",
                                                        "idTransfer": "string",
                                                        "amount": 0,
                                                        "remittanceInformation": "string",
                                                        "category": "string",
                                                        "iban": "string",
                                                        "postalIban": "string",
                                                        "stamp": {
                                                            "hashDocument": "string",
                                                            "stampType": "string",
                                                            "provincialResidence": "RM"
                                                        },
                                                        "insertedDate": "string",
                                                        "status": "T_UNREPORTED",
                                                        "lastUpdatedDate": "string",
                                                        "transferMetadata": [
                                                            {
                                                                "key": "string",
                                                                "value": "string"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ],
                                "page_info": {
                                    "page": 0,
                                    "limit": 0,
                                    "items_found": 0,
                                    "total_pages": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed request.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "401": {
                        "description": "Wrong or missing function key.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "examples": {
                            "application/json": {
                                "statusCode": 403,
                                "message": "You are not allowed to access this resource."
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "The Organization creates a debt Position.",
                "operationId": "createPosition",
                "summary": "The Organization creates a debt Position.",
                "tags": [
                    "Debt Positions API"
                ],
                "parameters": [
                    {
                        "name": "organizationfiscalcode",
                        "in": "path",
                        "description": "Organization fiscal code, the fiscal code of the Organization.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "toPublish",
                        "in": "query",
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "type": "string"
                    },
                    {
                        "name": "paymentPositionModel",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/PaymentPositionModel"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "Request created.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/PaymentPositionModel"
                        },
                        "examples": {
                            "application/json": {
                                "iupd": "string",
                                "type": "F",
                                "payStandIn": "true",
                                "fiscalCode": "string",
                                "fullName": "string",
                                "streetName": "string",
                                "civicNumber": "string",
                                "postalCode": "string",
                                "city": "string",
                                "province": "string",
                                "region": "string",
                                "country": "IT",
                                "email": "email@domain.com",
                                "phone": "string",
                                "switchToExpired": "false",
                                "companyName": "string",
                                "officeName": "string",
                                "validityDate": "string",
                                "paymentDate": "string",
                                "status": "DRAFT",
                                "paymentOption": [
                                    {
                                        "nav": "string",
                                        "iuv": "string",
                                        "amount": 0,
                                        "description": "string",
                                        "isPartialPayment": true,
                                        "dueDate": "string",
                                        "retentionDate": "string",
                                        "fee": 0,
                                        "notificationFee": 0,
                                        "transfer": [
                                            {
                                                "idTransfer": "1",
                                                "amount": 0,
                                                "organizationFiscalCode": "00000000000",
                                                "remittanceInformation": "string",
                                                "category": "string",
                                                "iban": "IT0000000000000000000000000",
                                                "postalIban": "IT0000000000000000000000000",
                                                "stamp": {
                                                    "hashDocument": "string",
                                                    "stampType": "string",
                                                    "provincialResidence": "RM"
                                                },
                                                "companyName": "string",
                                                "transferMetadata": [
                                                    {
                                                        "key": "string",
                                                        "value": "string"
                                                    }
                                                ]
                                            }
                                        ],
                                        "paymentOptionMetadata": [
                                            {
                                                "key": "string",
                                                "value": "string"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed request.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "401": {
                        "description": "Wrong or missing function key.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "examples": {
                            "application/json": {
                                "statusCode": 403,
                                "message": "You are not allowed to access this resource."
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict: duplicate debt position found.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{organizationfiscalcode}/debtpositions/{iupd}": {
            "get": {
                "description": "Return the details of a specific debt position.",
                "operationId": "getOrganizationDebtPositionByIUPD",
                "summary": "Return the details of a specific debt position.",
                "tags": [
                    "Debt Positions API"
                ],
                "parameters": [
                    {
                        "name": "organizationfiscalcode",
                        "in": "path",
                        "description": "Organization fiscal code, the fiscal code of the Organization.",
                        "required": true,
                        "type": "string",
                        "pattern": "[\\w*\\h-]+"
                    },
                    {
                        "name": "iupd",
                        "in": "path",
                        "description": "IUPD (Unique identifier of the debt position). Format could be `<Organization fiscal code + UUID>` this would make it unique within the new PD management system. It's the responsibility of the EC to guarantee uniqueness. The pagoPa system shall verify that this is `true` and if not, notify the EC.",
                        "required": true,
                        "type": "string",
                        "pattern": "[\\w*\\h-]+"
                    },
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Obtained debt position details.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/PaymentPositionModelBaseResponse"
                        },
                        "examples": {
                            "application/json": {
                                "iupd": "string",
                                "organizationFiscalCode": "string",
                                "type": "F",
                                "companyName": "string",
                                "officeName": "string",
                                "insertedDate": "string",
                                "publishDate": "string",
                                "validityDate": "string",
                                "paymentDate": "string",
                                "status": "DRAFT",
                                "lastUpdatedDate": "string",
                                "paymentOption": [
                                    {
                                        "nav": "string",
                                        "iuv": "string",
                                        "organizationFiscalCode": "string",
                                        "amount": 0,
                                        "description": "string",
                                        "isPartialPayment": true,
                                        "dueDate": "string",
                                        "retentionDate": "string",
                                        "paymentDate": "string",
                                        "reportingDate": "string",
                                        "insertedDate": "string",
                                        "paymentMethod": "string",
                                        "fee": 0,
                                        "notificationFee": 0,
                                        "pspCompany": "string",
                                        "idReceipt": "string",
                                        "idFlowReporting": "string",
                                        "status": "PO_UNPAID",
                                        "lastUpdatedDate": "string",
                                        "paymentOptionMetadata": [
                                            {
                                                "key": "string",
                                                "value": "string"
                                            }
                                        ],
                                        "transfer": [
                                            {
                                                "organizationFiscalCode": "string",
                                                "companyName": "string",
                                                "idTransfer": "string",
                                                "amount": 0,
                                                "remittanceInformation": "string",
                                                "category": "string",
                                                "iban": "string",
                                                "postalIban": "string",
                                                "stamp": {
                                                    "hashDocument": "string",
                                                    "stampType": "string",
                                                    "provincialResidence": "RM"
                                                },
                                                "insertedDate": "string",
                                                "status": "T_UNREPORTED",
                                                "lastUpdatedDate": "string",
                                                "transferMetadata": [
                                                    {
                                                        "key": "string",
                                                        "value": "string"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Wrong or missing function key.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "examples": {
                            "application/json": {
                                "statusCode": 403,
                                "message": "You are not allowed to access this resource."
                            }
                        }
                    },
                    "404": {
                        "description": "No debt position found.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "The Organization updates a debt position ",
                "operationId": "updatePosition",
                "summary": "The Organization updates a debt position ",
                "tags": [
                    "Debt Positions API"
                ],
                "parameters": [
                    {
                        "name": "organizationfiscalcode",
                        "in": "path",
                        "description": "Organization fiscal code, the fiscal code of the Organization.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "iupd",
                        "in": "path",
                        "description": "IUPD (Unique identifier of the debt position). Format could be `<Organization fiscal code + UUID>` this would make it unique within the new PD management system. It's the responsibility of the EC to guarantee uniqueness. The pagoPa system shall verify that this is `true` and if not, notify the EC.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "toPublish",
                        "in": "query",
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "type": "string"
                    },
                    {
                        "name": "paymentPositionModel",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/PaymentPositionModel"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Debt Position updated.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/PaymentPositionModel"
                        },
                        "examples": {
                            "application/json": {
                                "iupd": "string",
                                "type": "F",
                                "payStandIn": "true",
                                "fiscalCode": "string",
                                "fullName": "string",
                                "streetName": "string",
                                "civicNumber": "string",
                                "postalCode": "string",
                                "city": "string",
                                "province": "string",
                                "region": "string",
                                "country": "IT",
                                "email": "email@domain.com",
                                "phone": "string",
                                "switchToExpired": "false",
                                "companyName": "string",
                                "officeName": "string",
                                "validityDate": "string",
                                "paymentDate": "string",
                                "status": "DRAFT",
                                "paymentOption": [
                                    {
                                        "nav": "string",
                                        "iuv": "string",
                                        "amount": 0,
                                        "description": "string",
                                        "isPartialPayment": true,
                                        "dueDate": "string",
                                        "retentionDate": "string",
                                        "fee": 0,
                                        "notificationFee": 0,
                                        "transfer": [
                                            {
                                                "idTransfer": "1",
                                                "amount": 0,
                                                "organizationFiscalCode": "00000000000",
                                                "remittanceInformation": "string",
                                                "category": "string",
                                                "iban": "IT0000000000000000000000000",
                                                "postalIban": "IT0000000000000000000000000",
                                                "stamp": {
                                                    "hashDocument": "string",
                                                    "stampType": "string",
                                                    "provincialResidence": "RM"
                                                },
                                                "companyName": "string",
                                                "transferMetadata": [
                                                    {
                                                        "key": "string",
                                                        "value": "string"
                                                    }
                                                ]
                                            }
                                        ],
                                        "paymentOptionMetadata": [
                                            {
                                                "key": "string",
                                                "value": "string"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed request.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "401": {
                        "description": "Wrong or missing function key.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "examples": {
                            "application/json": {
                                "statusCode": 403,
                                "message": "You are not allowed to access this resource."
                            }
                        }
                    },
                    "404": {
                        "description": "No debt position found.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict: existing related payment found.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "The Organization deletes a debt position",
                "operationId": "deletePosition",
                "summary": "The Organization deletes a debt position",
                "tags": [
                    "Debt Positions API"
                ],
                "parameters": [
                    {
                        "name": "organizationfiscalcode",
                        "in": "path",
                        "description": "Organization fiscal code, the fiscal code of the Organization.",
                        "required": true,
                        "type": "string",
                        "pattern": "[\\w*\\h-]+"
                    },
                    {
                        "name": "iupd",
                        "in": "path",
                        "description": "IUPD (Unique identifier of the debt position). Format could be `<Organization fiscal code + UUID>` this would make it unique within the new PD management system. It's the responsibility of the EC to guarantee uniqueness. The pagoPa system shall verify that this is `true` and if not, notify the EC.",
                        "required": true,
                        "type": "string",
                        "pattern": "[\\w*\\h-]+"
                    },
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Operation completed successfully.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "application/json": "string"
                        }
                    },
                    "401": {
                        "description": "Wrong or missing function key.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "examples": {
                            "application/json": {
                                "statusCode": 403,
                                "message": "You are not allowed to access this resource."
                            }
                        }
                    },
                    "404": {
                        "description": "No debt position position found.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict: existing related payment found.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{organizationfiscalcode}/debtpositions/{iupd}/publish": {
            "post": {
                "description": "The Organization publish a debt Position.",
                "operationId": "publishPosition",
                "summary": "The Organization publish a debt Position.",
                "tags": [
                    "Debt Position Actions API"
                ],
                "parameters": [
                    {
                        "name": "organizationfiscalcode",
                        "in": "path",
                        "description": "Organization fiscal code, the fiscal code of the Organization.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "iupd",
                        "in": "path",
                        "description": "IUPD (Unique identifier of the debt position). Format could be `<Organization fiscal code + UUID>` this would make it unique within the new PD management system. It's the responsibility of the EC to guarantee uniqueness. The pagoPa system shall verify that this is `true` and if not, notify the EC.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Request published.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/PaymentPositionModel"
                        },
                        "examples": {
                            "application/json": {
                                "iupd": "string",
                                "type": "F",
                                "payStandIn": "true",
                                "fiscalCode": "string",
                                "fullName": "string",
                                "streetName": "string",
                                "civicNumber": "string",
                                "postalCode": "string",
                                "city": "string",
                                "province": "string",
                                "region": "string",
                                "country": "IT",
                                "email": "email@domain.com",
                                "phone": "string",
                                "switchToExpired": "false",
                                "companyName": "string",
                                "officeName": "string",
                                "validityDate": "string",
                                "paymentDate": "string",
                                "status": "DRAFT",
                                "paymentOption": [
                                    {
                                        "nav": "string",
                                        "iuv": "string",
                                        "amount": 0,
                                        "description": "string",
                                        "isPartialPayment": true,
                                        "dueDate": "string",
                                        "retentionDate": "string",
                                        "fee": 0,
                                        "notificationFee": 0,
                                        "transfer": [
                                            {
                                                "idTransfer": "1",
                                                "amount": 0,
                                                "organizationFiscalCode": "00000000000",
                                                "remittanceInformation": "string",
                                                "category": "string",
                                                "iban": "IT0000000000000000000000000",
                                                "postalIban": "IT0000000000000000000000000",
                                                "stamp": {
                                                    "hashDocument": "string",
                                                    "stampType": "string",
                                                    "provincialResidence": "RM"
                                                },
                                                "companyName": "string",
                                                "transferMetadata": [
                                                    {
                                                        "key": "string",
                                                        "value": "string"
                                                    }
                                                ]
                                            }
                                        ],
                                        "paymentOptionMetadata": [
                                            {
                                                "key": "string",
                                                "value": "string"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Wrong or missing function key.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "examples": {
                            "application/json": {
                                "statusCode": 403,
                                "message": "You are not allowed to access this resource."
                            }
                        }
                    },
                    "404": {
                        "description": "No debt position found.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict: debt position is not in publishable state.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{organizationfiscalcode}/debtpositions/{iupd}/invalidate": {
            "post": {
                "description": "The Organization invalidate a debt Position.",
                "operationId": "invalidatePosition",
                "summary": "The Organization invalidate a debt Position.",
                "tags": [
                    "Debt Position Actions API"
                ],
                "parameters": [
                    {
                        "name": "organizationfiscalcode",
                        "in": "path",
                        "description": "Organization fiscal code, the fiscal code of the Organization.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "iupd",
                        "in": "path",
                        "description": "IUPD (Unique identifier of the debt position). Format could be `<Organization fiscal code + UUID>` this would make it unique within the new PD management system. It's the responsibility of the EC to guarantee uniqueness. The pagoPa system shall verify that this is `true` and if not, notify the EC.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Request published.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/PaymentPositionModel"
                        },
                        "examples": {
                            "application/json": {
                                "iupd": "string",
                                "type": "F",
                                "payStandIn": "true",
                                "fiscalCode": "string",
                                "fullName": "string",
                                "streetName": "string",
                                "civicNumber": "string",
                                "postalCode": "string",
                                "city": "string",
                                "province": "string",
                                "region": "string",
                                "country": "IT",
                                "email": "email@domain.com",
                                "phone": "string",
                                "switchToExpired": "false",
                                "companyName": "string",
                                "officeName": "string",
                                "validityDate": "string",
                                "paymentDate": "string",
                                "status": "DRAFT",
                                "paymentOption": [
                                    {
                                        "nav": "string",
                                        "iuv": "string",
                                        "amount": 0,
                                        "description": "string",
                                        "isPartialPayment": true,
                                        "dueDate": "string",
                                        "retentionDate": "string",
                                        "fee": 0,
                                        "notificationFee": 0,
                                        "transfer": [
                                            {
                                                "idTransfer": "1",
                                                "amount": 0,
                                                "organizationFiscalCode": "00000000000",
                                                "remittanceInformation": "string",
                                                "category": "string",
                                                "iban": "IT0000000000000000000000000",
                                                "postalIban": "IT0000000000000000000000000",
                                                "stamp": {
                                                    "hashDocument": "string",
                                                    "stampType": "string",
                                                    "provincialResidence": "RM"
                                                },
                                                "companyName": "string",
                                                "transferMetadata": [
                                                    {
                                                        "key": "string",
                                                        "value": "string"
                                                    }
                                                ]
                                            }
                                        ],
                                        "paymentOptionMetadata": [
                                            {
                                                "key": "string",
                                                "value": "string"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Wrong or missing function key.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "examples": {
                            "application/json": {
                                "statusCode": 403,
                                "message": "You are not allowed to access this resource."
                            }
                        }
                    },
                    "404": {
                        "description": "No debt position found.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict: debt position is not in invalidable state.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    }
                }
            }
        },
        "/info": {
            "get": {
                "description": "Return OK if application is started",
                "operationId": "healthCheck",
                "summary": "Return OK if application is started",
                "tags": [
                    "Home"
                ],
                "parameters": [
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/AppInfo"
                        },
                        "examples": {
                            "application/json": {
                                "name": "string",
                                "version": "string",
                                "environment": "string"
                            }
                        }
                    },
                    "401": {
                        "description": "Wrong or missing function key.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{organizationfiscalcode}/paymentoptions/paids/{nav}": {
            "post": {
                "description": "The Organization mark a payment option as already paid.",
                "operationId": "setPaymentOptionAsAlreadyPaid",
                "summary": "The Organization mark a payment option as already paid.",
                "tags": [
                    "Payments API"
                ],
                "parameters": [
                    {
                        "name": "organizationfiscalcode",
                        "in": "path",
                        "description": "Organization fiscal code, the fiscal code of the Organization.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "nav",
                        "in": "path",
                        "description": "NAV (notice number) is the unique reference assigned to the payment by a creditor institution.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "type": "string"
                    },
                    {
                        "name": "alreadyPaidPaymentOptionModel",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AlreadyPaidPaymentOptionModel"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Request set as paid.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/PaymentsModelResponse"
                        },
                        "examples": {
                            "application/json": {
                                "nav": "string",
                                "iuv": "string",
                                "organizationFiscalCode": "string",
                                "amount": 0,
                                "description": "string",
                                "isPartialPayment": true,
                                "dueDate": "string",
                                "retentionDate": "string",
                                "paymentDate": "string",
                                "reportingDate": "string",
                                "insertedDate": "string",
                                "paymentMethod": "string",
                                "fee": 0,
                                "notificationFee": 0,
                                "pspCompany": "string",
                                "idReceipt": "string",
                                "idFlowReporting": "string",
                                "status": "PO_UNPAID",
                                "lastUpdatedDate": "string",
                                "lastUpdatedDateNotificationFee": "string",
                                "paymentOptionMetadata": [
                                    {
                                        "key": "string",
                                        "value": "string"
                                    }
                                ],
                                "transfer": [
                                    {
                                        "organizationFiscalCode": "string",
                                        "companyName": "string",
                                        "idTransfer": "string",
                                        "amount": 0,
                                        "remittanceInformation": "string",
                                        "category": "string",
                                        "iban": "string",
                                        "postalIban": "string",
                                        "stamp": {
                                            "hashDocument": "string",
                                            "stampType": "string",
                                            "provincialResidence": "RM"
                                        },
                                        "insertedDate": "string",
                                        "status": "T_UNREPORTED",
                                        "lastUpdatedDate": "string",
                                        "transferMetadata": [
                                            {
                                                "key": "string",
                                                "value": "string"
                                            }
                                        ]
                                    }
                                ],
                                "serviceType": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed request.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "401": {
                        "description": "Wrong or missing function key.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        }
                    },
                    "404": {
                        "description": "No payment option found.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict: existing related payment found.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable: not in payable state.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable.",
                        "headers": {
                            "X-Request-Id": {
                                "type": "string",
                                "description": "This header identifies the call"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ProblemJson"
                        },
                        "examples": {
                            "application/json": {
                                "title": "string",
                                "status": 200,
                                "detail": "There was an error processing the request"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "PaymentOptionMetadataModel": {
            "required": [
                "key",
                "value"
            ],
            "type": "object",
            "properties": {
                "key": {
                    "maxLength": 140,
                    "minLength": 0,
                    "type": "string"
                },
                "value": {
                    "maxLength": 140,
                    "minLength": 0,
                    "type": "string"
                }
            }
        },
        "PaymentOptionModel": {
            "required": [
                "amount",
                "description",
                "dueDate",
                "isPartialPayment",
                "iuv"
            ],
            "type": "object",
            "properties": {
                "nav": {
                    "type": "string"
                },
                "iuv": {
                    "type": "string"
                },
                "amount": {
                    "format": "int64",
                    "minimum": 1,
                    "type": "integer"
                },
                "description": {
                    "maxLength": 140,
                    "minLength": 0,
                    "type": "string"
                },
                "isPartialPayment": {
                    "type": "boolean"
                },
                "dueDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "retentionDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "fee": {
                    "format": "int64",
                    "type": "integer",
                    "readOnly": true
                },
                "notificationFee": {
                    "format": "int64",
                    "type": "integer",
                    "readOnly": true
                },
                "transfer": {
                    "maxItems": 5,
                    "minItems": 1,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TransferModel"
                    }
                },
                "paymentOptionMetadata": {
                    "description": "It can be added a maximum of 10 key-value pairs for metadata. Metadata keys must be unique within the same payment option.",
                    "maxItems": 10,
                    "minItems": 0,
                    "uniqueItems": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/PaymentOptionMetadataModel"
                    }
                }
            }
        },
        "PaymentPositionModel": {
            "required": [
                "companyName",
                "fiscalCode",
                "fullName",
                "iupd",
                "switchToExpired",
                "type"
            ],
            "type": "object",
            "properties": {
                "iupd": {
                    "type": "string"
                },
                "type": {
                    "enum": [
                        "F",
                        "G"
                    ],
                    "type": "string"
                },
                "payStandIn": {
                    "description": "feature flag to enable a debt position in stand-in mode",
                    "default": "true",
                    "type": "boolean",
                    "example": true
                },
                "fiscalCode": {
                    "type": "string"
                },
                "fullName": {
                    "type": "string"
                },
                "streetName": {
                    "type": "string"
                },
                "civicNumber": {
                    "type": "string"
                },
                "postalCode": {
                    "type": "string"
                },
                "city": {
                    "type": "string"
                },
                "province": {
                    "type": "string"
                },
                "region": {
                    "type": "string"
                },
                "country": {
                    "pattern": "[A-Z]{2}",
                    "type": "string",
                    "example": "IT"
                },
                "email": {
                    "type": "string",
                    "example": "email@domain.com"
                },
                "phone": {
                    "type": "string"
                },
                "switchToExpired": {
                    "description": "feature flag to enable the debt position to expire after the due date",
                    "default": "false",
                    "type": "boolean",
                    "example": false
                },
                "companyName": {
                    "maxLength": 140,
                    "minLength": 0,
                    "type": "string"
                },
                "officeName": {
                    "maxLength": 140,
                    "minLength": 0,
                    "type": "string"
                },
                "validityDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "paymentDate": {
                    "format": "date-time",
                    "type": "string",
                    "readOnly": true
                },
                "status": {
                    "enum": [
                        "DRAFT",
                        "PUBLISHED",
                        "VALID",
                        "INVALID",
                        "EXPIRED",
                        "PARTIALLY_PAID",
                        "PAID",
                        "REPORTED"
                    ],
                    "type": "string",
                    "readOnly": true
                },
                "paymentOption": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/PaymentOptionModel"
                    }
                }
            },
            "example": {
                "iupd": "string",
                "type": "F",
                "payStandIn": "true",
                "fiscalCode": "string",
                "fullName": "string",
                "streetName": "string",
                "civicNumber": "string",
                "postalCode": "string",
                "city": "string",
                "province": "string",
                "region": "string",
                "country": "IT",
                "email": "email@domain.com",
                "phone": "string",
                "switchToExpired": "false",
                "companyName": "string",
                "officeName": "string",
                "validityDate": "string",
                "paymentDate": "string",
                "status": "DRAFT",
                "paymentOption": [
                    {
                        "nav": "string",
                        "iuv": "string",
                        "amount": 0,
                        "description": "string",
                        "isPartialPayment": true,
                        "dueDate": "string",
                        "retentionDate": "string",
                        "fee": 0,
                        "notificationFee": 0,
                        "transfer": [
                            {
                                "idTransfer": "1",
                                "amount": 0,
                                "organizationFiscalCode": "00000000000",
                                "remittanceInformation": "string",
                                "category": "string",
                                "iban": "IT0000000000000000000000000",
                                "postalIban": "IT0000000000000000000000000",
                                "stamp": {
                                    "hashDocument": "string",
                                    "stampType": "string",
                                    "provincialResidence": "RM"
                                },
                                "companyName": "string",
                                "transferMetadata": [
                                    {
                                        "key": "string",
                                        "value": "string"
                                    }
                                ]
                            }
                        ],
                        "paymentOptionMetadata": [
                            {
                                "key": "string",
                                "value": "string"
                            }
                        ]
                    }
                ]
            }
        },
        "Stamp": {
            "required": [
                "hashDocument",
                "provincialResidence",
                "stampType"
            ],
            "type": "object",
            "properties": {
                "hashDocument": {
                    "description": "Document hash type is stBase64Binary72 as described in https://github.com/pagopa/pagopa-api.",
                    "maxLength": 72,
                    "minLength": 0,
                    "type": "string"
                },
                "stampType": {
                    "description": "The type of the stamp",
                    "maxLength": 2,
                    "minLength": 2,
                    "type": "string"
                },
                "provincialResidence": {
                    "description": "The provincial of the residence",
                    "pattern": "[A-Z]{2}",
                    "type": "string",
                    "example": "RM"
                }
            }
        },
        "TransferMetadataModel": {
            "required": [
                "key",
                "value"
            ],
            "type": "object",
            "properties": {
                "key": {
                    "maxLength": 140,
                    "minLength": 0,
                    "type": "string"
                },
                "value": {
                    "maxLength": 140,
                    "minLength": 0,
                    "type": "string"
                }
            }
        },
        "TransferModel": {
            "required": [
                "amount",
                "category",
                "idTransfer",
                "remittanceInformation"
            ],
            "type": "object",
            "properties": {
                "idTransfer": {
                    "enum": [
                        "1",
                        "2",
                        "3",
                        "4",
                        "5"
                    ],
                    "type": "string"
                },
                "amount": {
                    "format": "int64",
                    "minimum": 1,
                    "type": "integer"
                },
                "organizationFiscalCode": {
                    "description": "Fiscal code related to the organization targeted by this transfer.",
                    "type": "string",
                    "example": "00000000000"
                },
                "remittanceInformation": {
                    "maxLength": 140,
                    "minLength": 0,
                    "type": "string"
                },
                "category": {
                    "type": "string"
                },
                "iban": {
                    "description": "mutual exclusive with stamp",
                    "maxLength": 35,
                    "minLength": 1,
                    "pattern": "^[A-Za-z0-9]{1,35}$",
                    "type": "string",
                    "example": "IT0000000000000000000000000"
                },
                "postalIban": {
                    "description": "optional - can be combined with iban but not with stamp",
                    "maxLength": 35,
                    "minLength": 1,
                    "pattern": "^$|^[A-Za-z0-9]{1,35}$",
                    "type": "string",
                    "example": "IT0000000000000000000000000"
                },
                "stamp": {
                    "$ref": "#/definitions/Stamp"
                },
                "companyName": {
                    "maxLength": 140,
                    "minLength": 0,
                    "type": "string"
                },
                "transferMetadata": {
                    "description": "It can be added a maximum of 10 key-value pairs for metadata. Metadata keys must be unique within the same transfer.",
                    "maxItems": 10,
                    "minItems": 0,
                    "uniqueItems": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TransferMetadataModel"
                    }
                }
            }
        },
        "ProblemJson": {
            "type": "object",
            "properties": {
                "title": {
                    "description": "A short, summary of the problem type. Written in english and readable for engineers (usually not suited for non technical stakeholders and not localized); example: Service Unavailable",
                    "type": "string"
                },
                "status": {
                    "format": "int32",
                    "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                    "maximum": 600,
                    "minimum": 100,
                    "type": "integer",
                    "example": 200
                },
                "detail": {
                    "description": "A human readable explanation specific to this occurrence of the problem.",
                    "type": "string",
                    "example": "There was an error processing the request"
                }
            }
        },
        "AlreadyPaidPaymentOptionModel": {
            "type": "object",
            "properties": {
                "paymentDate": {
                    "format": "date-time",
                    "type": "string"
                }
            },
            "example": {
                "paymentDate": "string"
            }
        },
        "PaymentOptionMetadataModelResponse": {
            "type": "object",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "PaymentsModelResponse": {
            "type": "object",
            "properties": {
                "nav": {
                    "type": "string"
                },
                "iuv": {
                    "type": "string"
                },
                "organizationFiscalCode": {
                    "type": "string"
                },
                "amount": {
                    "format": "int64",
                    "type": "integer"
                },
                "description": {
                    "type": "string"
                },
                "isPartialPayment": {
                    "type": "boolean"
                },
[...]
