{
    "openapi": "3.0.1",
    "info": {
        "title": "Selfcare Backoffice External for PSP",
        "description": "API for Backoffice External for PSP",
        "version": "1.6.9"
    },
    "servers": [
        {
            "url": "https://api.platform.pagopa.it/backoffice/external/psp/v1"
        }
    ],
    "paths": {
        "/creditor_institutions/ibans": {
            "get": {
                "tags": [
                    "External APIs"
                ],
                "summary": "getCIsIbans",
                "description": "Return the full list of Ibans of all CIs ",
                "operationId": "getCIsIbans",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number. Page value starts from 0",
                        "required": true,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of elements on one page. Default = 10",
                        "schema": {
                            "maximum": 5000,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CIIbansResponse"
                                },
                                "example": {
                                    "ibans": [
                                        {
                                            "ciFiscalCode": "string",
                                            "ciName": "string",
                                            "description": "string",
                                            "iban": "string",
                                            "label": "CUP",
                                            "status": "ENABLED",
                                            "validityDate": "string"
                                        }
                                    ],
                                    "pageInfo": {
                                        "limit": 0,
                                        "page": 0,
                                        "totalElements": 0,
                                        "totalPages": 0
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemJson"
                                },
                                "example": {
                                    "detail": "There was an error processing the request",
                                    "status": 200,
                                    "title": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemJson"
                                },
                                "example": {
                                    "detail": "There was an error processing the request",
                                    "status": 200,
                                    "title": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CIIbansResource": {
                "required": [
                    "ciFiscalCode",
                    "ciName",
                    "iban",
                    "status",
                    "validityDate"
                ],
                "type": "object",
                "properties": {
                    "ciFiscalCode": {
                        "type": "string",
                        "description": "Creditor Institution tax code"
                    },
                    "ciName": {
                        "type": "string",
                        "description": "Creditor Institution name"
                    },
                    "description": {
                        "type": "string",
                        "description": "description"
                    },
                    "iban": {
                        "type": "string",
                        "description": "iban"
                    },
                    "label": {
                        "type": "string",
                        "description": "label",
                        "example": "CUP"
                    },
                    "status": {
                        "type": "string",
                        "description": "status",
                        "example": "ENABLED"
                    },
                    "validityDate": {
                        "type": "string",
                        "description": "Activation Date",
                        "format": "date-time"
                    }
                },
                "description": "list of IBANs"
            },
            "CIIbansResponse": {
                "required": [
                    "ibans",
                    "pageInfo"
                ],
                "type": "object",
                "properties": {
                    "ibans": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CIIbansResource"
                        },
                        "description": "list of IBANs"
                    },
                    "pageInfo": {
                        "$ref": "#/components/schemas/PageInfo"
                    }
                }
            },
            "PageInfo": {
                "required": [
                    "limit",
                    "page",
                    "totalElements",
                    "totalPages"
                ],
                "type": "object",
                "properties": {
                    "limit": {
                        "type": "integer",
                        "description": "number of elements per page",
                        "format": "int32"
                    },
                    "page": {
                        "type": "integer",
                        "description": "page number (0 is the first page)",
                        "format": "int32"
                    },
                    "totalElements": {
                        "type": "integer",
                        "description": "total elements of elements",
                        "format": "int64"
                    },
                    "totalPages": {
                        "type": "integer",
                        "description": "total number of pages",
                        "format": "int64"
                    }
                },
                "description": "information about pagination"
            },
            "ProblemJson": {
                "type": "object",
                "properties": {
                    "detail": {
                        "type": "string",
                        "description": "A human readable explanation specific to this occurrence of the problem.",
                        "example": "There was an error processing the request"
                    },
                    "status": {
                        "maximum": 600,
                        "minimum": 100,
                        "type": "integer",
                        "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                        "format": "int32",
                        "example": 200
                    },
                    "title": {
                        "type": "string",
                        "description": "A short, summary of the problem type. Written in english and readable for engineers (usually not suited for non technical stakeholders and not localized); example: Service Unavailable"
                    }
                }
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}
