{
    "openapi": "3.0.1",
    "info": {
        "title": "Selfcare Backoffice External for EC",
        "description": "API for Backoffice External for EC",
        "version": "1.6.9"
    },
    "servers": [
        {
            "url": "https://api.platform.pagopa.it/backoffice/external/ec/v1"
        }
    ],
    "paths": {
        "/brokers/{brokerCode}/creditor_institutions": {
            "get": {
                "tags": [
                    "External APIs"
                ],
                "summary": "getBrokerInstitutions",
                "description": "Return the list of Creditor Institutions of a Broker",
                "operationId": "getBrokerInstitutions",
                "parameters": [
                    {
                        "name": "brokerCode",
                        "in": "path",
                        "description": "Broker Code to use as filter for the retrieved creditor institution list",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number. Page value starts from 0",
                        "required": true,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of elements on one page. Default = 10",
                        "schema": {
                            "maximum": 100,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BrokerInstitutionsResponse"
                                },
                                "example": {
                                    "creditorInstitutions": [
                                        {
                                            "activationDate": "string",
                                            "applicationCode": "string",
                                            "auxDigit": "string",
                                            "broadcast": true,
                                            "brokerCompanyName": "string",
                                            "brokerTaxCode": "string",
                                            "cbillCode": "string",
                                            "ciStatus": true,
                                            "companyName": "string",
                                            "endpointMU": "string",
                                            "endpointRT": "string",
                                            "endpointRedirect": "string",
                                            "intermediated": true,
                                            "model": 0,
                                            "primitiveVersion": 0,
                                            "pspPayment": true,
                                            "segregationCode": "string",
                                            "stationId": "string",
                                            "stationState": "enabled",
                                            "taxCode": "string",
                                            "version": "1"
                                        }
                                    ],
                                    "pageInfo": {
                                        "limit": 0,
                                        "page": 0,
                                        "totalElements": 0,
                                        "totalPages": 0
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemJson"
                                },
                                "example": {
                                    "detail": "There was an error processing the request",
                                    "status": 200,
                                    "title": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Institutions for the brokerCode not found",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemJson"
                                },
                                "example": {
                                    "detail": "There was an error processing the request",
                                    "status": 200,
                                    "title": "string"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemJson"
                                },
                                "example": {
                                    "detail": "There was an error processing the request",
                                    "status": 200,
                                    "title": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/info": {
            "get": {
                "tags": [
                    "Home"
                ],
                "summary": "health check",
                "description": "Return OK if application is started",
                "operationId": "healthCheck",
                "parameters": [
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppInfo"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/brokers/{brokerCode}/ibans": {
            "get": {
                "tags": [
                    "External APIs"
                ],
                "summary": "getBrokerIbans",
                "description": "Return the list of Ibans of all the Creditor Institutions intermediated by the Broker",
                "operationId": "getBrokerIbans",
                "parameters": [
                    {
                        "name": "brokerCode",
                        "in": "path",
                        "description": "Broker Code to use as filter for the retrieved ibans list",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number. Page value starts from 0",
                        "required": true,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of elements on one page. Default = 10",
                        "schema": {
                            "maximum": 100,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CIIbansResponse"
                                },
                                "example": {
                                    "ibans": [
                                        {
                                            "ciFiscalCode": "string",
                                            "ciName": "string",
                                            "description": "string",
                                            "iban": "string",
                                            "label": "CUP",
                                            "status": "ENABLED",
                                            "validityDate": "string"
                                        }
                                    ],
                                    "pageInfo": {
                                        "limit": 0,
                                        "page": 0,
                                        "totalElements": 0,
                                        "totalPages": 0
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemJson"
                                },
                                "example": {
                                    "detail": "There was an error processing the request",
                                    "status": 200,
                                    "title": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ibans for the brokerCode not found",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemJson"
                                },
                                "example": {
                                    "detail": "There was an error processing the request",
                                    "status": 200,
                                    "title": "string"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable",
                        "headers": {
                            "X-Request-Id": {
                                "description": "This header identifies the call",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemJson"
                                },
                                "example": {
                                    "detail": "There was an error processing the request",
                                    "status": 200,
                                    "title": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AppInfo": {
                "type": "object",
                "properties": {
                    "environment": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "version": {
                        "type": "string"
                    }
                }
            },
            "BrokerInstitutionResource": {
                "required": [
                    "auxDigit",
                    "brokerCompanyName",
                    "brokerTaxCode",
                    "ciStatus",
                    "companyName",
                    "intermediated",
                    "model",
                    "stationState",
                    "taxCode",
                    "version"
                ],
                "type": "object",
                "properties": {
                    "activationDate": {
                        "type": "string",
                        "description": "activation date",
                        "format": "date-time"
                    },
                    "applicationCode": {
                        "type": "string",
                        "description": "application code of the relation station-ec (unique per auxdigit)"
                    },
                    "auxDigit": {
                        "type": "string",
                        "description": "aux digit number (0,1,2,3, 0/3)"
                    },
                    "broadcast": {
                        "type": "boolean",
                        "description": "true if the station is for broadcast"
                    },
                    "brokerCompanyName": {
                        "type": "string",
                        "description": "broker name"
                    },
                    "brokerTaxCode": {
                        "type": "string",
                        "description": "broker tax code"
                    },
                    "cbillCode": {
                        "type": "string",
                        "description": "CBILL code"
                    },
                    "ciStatus": {
                        "type": "boolean",
                        "description": "True if the CI is enabled"
                    },
                    "companyName": {
                        "type": "string",
                        "description": "Creditor Institution name"
                    },
                    "endpointMU": {
                        "type": "string",
                        "description": "endpoint for Modello Unico"
                    },
                    "endpointRT": {
                        "type": "string",
                        "description": "endpoint for Ricevuta Telematica"
                    },
                    "endpointRedirect": {
                        "type": "string",
                        "description": "endpoint for Redirect"
                    },
                    "intermediated": {
                        "type": "boolean",
                        "description": "true if the EC has a broker"
                    },
                    "model": {
                        "type": "integer",
                        "description": "model of the station",
                        "format": "int32"
                    },
                    "primitiveVersion": {
                        "type": "integer",
                        "description": "Version of the primitive",
                        "format": "int32"
                    },
                    "pspPayment": {
                        "type": "boolean",
                        "description": "true if allows payments by the psp"
                    },
                    "segregationCode": {
                        "type": "string",
                        "description": "segregation code of the relation station-ec (unique per auxdigit)"
                    },
                    "stationId": {
                        "type": "string",
                        "description": "station code"
                    },
                    "stationState": {
                        "type": "string",
                        "description": "station state",
                        "example": "enabled"
                    },
                    "taxCode": {
                        "type": "string",
                        "description": "Creditor Institution tax code"
                    },
                    "version": {
                        "type": "string",
                        "description": "station version",
                        "example": "1"
                    }
                },
                "description": "List of creditor institutions"
            },
            "BrokerInstitutionsResponse": {
                "required": [
                    "creditorInstitutions",
                    "pageInfo"
                ],
                "type": "object",
                "properties": {
                    "creditorInstitutions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BrokerInstitutionResource"
                        },
                        "description": "List of creditor institutions"
                    },
                    "pageInfo": {
                        "$ref": "#/components/schemas/PageInfo"
                    }
                }
            },
            "CIIbansResource": {
                "required": [
                    "ciFiscalCode",
                    "ciName",
                    "iban",
                    "status",
                    "validityDate"
                ],
                "type": "object",
                "properties": {
                    "ciFiscalCode": {
                        "type": "string",
                        "description": "Creditor Institution tax code"
                    },
                    "ciName": {
                        "type": "string",
                        "description": "Creditor Institution name"
                    },
                    "description": {
                        "type": "string",
                        "description": "description"
                    },
                    "iban": {
                        "type": "string",
                        "description": "iban"
                    },
                    "label": {
                        "type": "string",
                        "description": "label",
                        "example": "CUP"
                    },
                    "status": {
                        "type": "string",
                        "description": "status",
                        "example": "ENABLED"
                    },
                    "validityDate": {
                        "type": "string",
                        "description": "Activation Date",
                        "format": "date-time"
                    }
                },
                "description": "list of IBANs"
            },
            "CIIbansResponse": {
                "required": [
                    "ibans",
                    "pageInfo"
                ],
                "type": "object",
                "properties": {
                    "ibans": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CIIbansResource"
                        },
                        "description": "list of IBANs"
                    },
                    "pageInfo": {
                        "$ref": "#/components/schemas/PageInfo"
                    }
                }
            },
            "PageInfo": {
                "required": [
                    "limit",
                    "page",
                    "totalElements",
                    "totalPages"
                ],
                "type": "object",
                "properties": {
                    "limit": {
                        "type": "integer",
                        "description": "number of elements per page",
                        "format": "int32"
                    },
                    "page": {
                        "type": "integer",
                        "description": "page number (0 is the first page)",
                        "format": "int32"
                    },
                    "totalElements": {
                        "type": "integer",
                        "description": "total elements of elements",
                        "format": "int64"
                    },
                    "totalPages": {
                        "type": "integer",
                        "description": "total number of pages",
                        "format": "int64"
                    }
                },
                "description": "information about the pagination"
            },
            "ProblemJson": {
                "type": "object",
                "properties": {
                    "detail": {
                        "type": "string",
                        "description": "A human readable explanation specific to this occurrence of the problem.",
                        "example": "There was an error processing the request"
                    },
                    "status": {
                        "maximum": 600,
                        "minimum": 100,
                        "type": "integer",
                        "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                        "format": "int32",
                        "example": 200
                    },
                    "title": {
                        "type": "string",
                        "description": "A short, summary of the problem type. Written in english and readable for engineers (usually not suited for non technical stakeholders and not localized); example: Service Unavailable"
                    }
                }
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}
