{
  "openapi" : "3.0.1",
  "info" : {
    "description" : "Microservice to expose REST API to contact PagoPA Backoffice",
    "termsOfService" : "https://www.pagopa.gov.it/",
    "title" : "Backoffice External - Backoffice External PSP",
    "version" : "1.0.17"
  },
  "servers" : [ {
    "url" : "https://api.platform.pagopa.it/backoffice/external/psp/v1"
  } ],
  "paths" : {
    "/creditor_institutions/ibans" : {
      "get" : {
        "description" : "Return the full list of Ibans of all CIs ",
        "operationId" : "getCIsIbans",
        "parameters" : [ {
          "description" : "Number of elements on one page. Default = 10",
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "maximum" : 100,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "description" : "Page number. Page value starts from 0",
          "in" : "query",
          "name" : "page",
          "required" : true,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CIIbansResponse"
                }
              }
            },
            "description" : "OK",
            "headers" : {
              "X-Request-Id" : {
                "description" : "This header identifies the call",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemJson"
                }
              }
            },
            "description" : "Bad Request",
            "headers" : {
              "X-Request-Id" : {
                "description" : "This header identifies the call",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "X-Request-Id" : {
                "description" : "This header identifies the call",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests",
            "headers" : {
              "X-Request-Id" : {
                "description" : "This header identifies the call",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemJson"
                }
              }
            },
            "description" : "Service unavailable",
            "headers" : {
              "X-Request-Id" : {
                "description" : "This header identifies the call",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKey" : [ ]
        } ],
        "summary" : "getCIsIbans",
        "tags" : [ "External APIs" ]
      },
      "parameters" : [ {
        "description" : "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
        "in" : "header",
        "name" : "X-Request-Id",
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/info" : {
      "get" : {
        "description" : "Return OK if application is started",
        "operationId" : "healthCheck",
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppInfo"
                }
              }
            },
            "description" : "OK",
            "headers" : {
              "X-Request-Id" : {
                "description" : "This header identifies the call",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKey" : [ ]
        } ],
        "summary" : "health check",
        "tags" : [ "Home" ]
      },
      "parameters" : [ {
        "description" : "This header identifies the call, if not passed it is self-generated. This ID is returned in the response.",
        "in" : "header",
        "name" : "X-Request-Id",
        "schema" : {
          "type" : "string"
        }
      } ]
    }
  },
  "components" : {
    "schemas" : {
      "AppInfo" : {
        "type" : "object",
        "properties" : {
          "environment" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "version" : {
            "type" : "string"
          }
        }
      },
      "CIIbansResource" : {
        "required" : [ "ciFiscalCode", "ciName", "iban", "status", "validityDate" ],
        "type" : "object",
        "properties" : {
          "ciFiscalCode" : {
            "type" : "string",
            "description" : "Creditor Institution tax code"
          },
          "ciName" : {
            "type" : "string",
            "description" : "Creditor Institution name"
          },
          "description" : {
            "type" : "string",
            "description" : "description"
          },
          "iban" : {
            "type" : "string",
            "description" : "iban"
          },
          "label" : {
            "type" : "string",
            "description" : "label",
            "example" : "CUP"
          },
          "status" : {
            "type" : "string",
            "description" : "status",
            "example" : "ENABLED"
          },
          "validityDate" : {
            "type" : "string",
            "description" : "Activation Date",
            "format" : "date-time"
          }
        },
        "description" : "list of IBANs"
      },
      "CIIbansResponse" : {
        "required" : [ "ibans", "pageInfo" ],
        "type" : "object",
        "properties" : {
          "ibans" : {
            "type" : "array",
            "description" : "list of IBANs",
            "items" : {
              "$ref" : "#/components/schemas/CIIbansResource"
            }
          },
          "pageInfo" : {
            "$ref" : "#/components/schemas/PageInfo"
          }
        }
      },
      "PageInfo" : {
        "required" : [ "limit", "page" ],
        "type" : "object",
        "properties" : {
          "limit" : {
            "type" : "integer",
            "description" : "number of elements per page",
            "format" : "int32"
          },
          "page" : {
            "type" : "integer",
            "description" : "page number (0 is the first page)",
            "format" : "int32"
          }
        },
        "description" : "information about pagination"
      },
      "ProblemJson" : {
        "type" : "object",
        "properties" : {
          "detail" : {
            "type" : "string",
            "description" : "A human readable explanation specific to this occurrence of the problem.",
            "example" : "There was an error processing the request"
          },
          "status" : {
            "maximum" : 600,
            "minimum" : 100,
            "type" : "integer",
            "description" : "The HTTP status code generated by the origin server for this occurrence of the problem.",
            "format" : "int32",
            "example" : 200
          },
          "title" : {
            "type" : "string",
            "description" : "A short, summary of the problem type. Written in english and readable for engineers (usually not suited for non technical stakeholders and not localized); example: Service Unavailable"
          }
        }
      }
    },
    "securitySchemes" : {
      "ApiKey" : {
        "description" : "The Azure Subscription Key to access this API.",
        "in" : "header",
        "name" : "Ocp-Apim-Subscription-Key",
        "type" : "apiKey"
      }
    }
  }
}