swagger: "2.0"
info:
  version: 1.0.0
  title: PagoPA API configuration
  contact:
    name: PagoPA
    url: https://www.pagopa.gov.it/
  x-logo:
    url: https://www.pagopa.gov.it/assets/images/pagopa-logo.png
  description: Specification for Debtor Positions API
host: api.io.italia.it.TOBEDEFINE
basePath: "/api/v1"
schemes:
  - https
security:
  - ApiKey: []
tags:
  - name: Creditor Istitutions
    description: Everything about Creditor Istitution info
  - name: Payment Service Providers
    description: Everything about PSP
  - name: Configuration
    description: Everything about general configuration
paths:
  "/creditoristitutions/":
    get:
      tags: 
        - Creditor Istitutions
      operationId: GetECs
      summary: |
        Get creditor istitutions list
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/CreditorIstitutions"
        "403":
          description: Forbidden client error status.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
  "/creditoristitutions/{organizationfiscalcode}":
    get:
      tags: 
        - Creditor Istitutions
      operationId: GetEC
      summary: |
        Get creditor istitution details
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/CreditorIstitutionDetails"
        "403":
          description: Forbidden client error status.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"            
  "/creditoristitutions/{organizationfiscalcode}/encodings":
    get:
      tags: 
        - Creditor Istitutions
      operationId: GetECCodifiche
      summary: |
        Get creditor istitution encodings
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/CreditorIstitutionEncodings"
        "403":
          description: Forbidden client error status.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"            
  "/creditoristitutions/{organizationfiscalcode}/encodings/{encodingcode}":
    get:
      tags: 
        - Creditor Istitutions
      operationId: GetECCodifica
      summary: |
        Get creditor istitution encoding exists
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/EncodingCode"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/Result"
        "403":
          description: Forbidden client error status.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"            
  "/creditoristitutions/{organizationfiscalcode}/ibans":
    get:
      tags: 
        - Creditor Istitutions
      operationId: GetECIbans
      summary: |
        Get creditor istitution ibans
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/Ibans"
        "403":
          description: Forbidden client error status.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson" 
  "/creditoristitutions/{organizationfiscalcode}/ibans/{ibancode}":
    get:
      tags: 
        - Creditor Istitutions
      operationId: GetECIban
      summary: |
        Get creditor istitution iban exists
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/IbanCode"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/Result"
        "403":
          description: Forbidden client error status.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"            
  "/brokersec/":
    get:
      tags: 
        - Creditor Istitutions
      operationId: GetBrokersEC
      summary: |
        Get creditor brokers list
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/BrokersEC"
        "403":
          description: Forbidden client error status.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
  "/brokersec/{brokercode}":
    get:
      tags: 
        - Creditor Istitutions
      operationId: GetBrokerEC
      summary: |
        Get creditor broker details
      parameters:
        - $ref: "#/parameters/BrokerCode"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/BrokerDetails"
        "403":
          description: Forbidden client error status.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"            
  "/stations/":
    get:
      tags: 
        - Creditor Istitutions
      operationId: GetStations
      summary: |
        Get stations list
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/Stations"
        "403":
          description: Forbidden client error status.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
  "/stations/{stationcode}":
    get:
      tags: 
        - Creditor Istitutions
      operationId: GetStation
      summary: |
        Get station details
      parameters:
        - $ref: "#/parameters/StationCode"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/StationDetails"
        "403":
          description: Forbidden client error status.
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"            

parameters:
  ReceiptNumber:
    name: receiptid
    in: path
    type: string
    required: true
    description: The receipt identification
    maxLength: 50
  OrganizationFiscalCode:
    name: organizationfiscalcode
    in: path
    type: string
    x-import: italia-ts-commons/lib/strings
    required: true
    description: Organization fiscal code, the fiscal code of the Organization.
    maxLength: 50
  IbanCode:
    name: ibancode
    in: path
    type: string
    x-import: italia-ts-commons/lib/strings
    required: true
    description: iban code.
    maxLength: 50   
  BrokerCode:
    name: brokercode
    in: path
    type: string
    x-import: italia-ts-commons/lib/strings
    required: true
    description: broker code.
    maxLength: 50     
  StationCode:
    name: stationcode
    in: path
    type: string
    x-import: italia-ts-commons/lib/strings
    required: true
    description: station code.
    maxLength: 50     
  EncodingCode:
    name: encodingcode
    in: path
    type: string
    x-import: italia-ts-commons/lib/strings
    required: true
    description: Encoding code.
    maxLength: 50
  FiscalCode:
    name: fiscalcode
    in: path
    type: string
    maxLength: 16
    minLength: 16
    required: true
    description: The fiscal code of the user, all upper case.
  PaymentNoticeNumber:
    in: path
    name: paymentnoticenumber
    required: true
    description:
      The field ["Numero Avviso"](https://pagopa-specifichepagamenti.readthedocs.io/it/latest/_docs/Capitolo7.html#il-numero-avviso-e-larchivio-dei-pagamenti-in-attesa)
      of pagoPa, needed to identify the payment. Format is `<aux digit (1n)>[<application code> (2n)]<codice IUV (15|17n)>`.
      See [pagoPa specs](https://www.agid.gov.it/sites/default/files/repository_files/specifiche_attuative_pagamenti_1_3_1_0.pdf) for more info on this field and the IUV.
    type: string
    pattern: "^[0123][0-9]{17}$"
  AmountFrom:
    in: query
    name: amount_from
    required: false
    type: integer
    description: The mimimum amount to filter from, in Euro cents. The value refers to the paymentOption.amount field in the GET/.../payment-notices case, while it refers to the ReceiptAmount.amount field in the GET/.../payment-receipts case.
    minimum: 1
    maximum: 9999999999
  AmountTo:
    in: query
    name: amount_to
    required: false
    type: integer
    description: The maximum amount to filter to, in Euro cents.
    minimum: 1
    maximum: 9999999999
  DueDateFrom:
    in: query
    name: due_date_from
    required: false
    type: string
    format: date
    description: The due date to filter from.
  DueDateTo:
    in: query
    name: due_date_to
    required: false
    type: string
    format: date
    description: The due date to filter to.
  PaymentDateFrom:
    in: query
    name: payment_date_from
    required: false
    type: string
    format: date
    description: The receipt's payment date to filter from.
  PaymentDateTo:
    in: query
    name: payment_date_to
    required: false
    type: string
    format: date
    description: The receipt's payment date to filter to.
  Status:
    in: query
    name: status
    required: false
    type: string
    description: Payment status
    enum: [INSERTED, PAYING, PAID, NOTIFIED]
  Limit:
    in: query
    name: limit
    required: false
    type: integer
    minimum: 1
    maximum: 100
    default: 20
    description: The number of items to return (from 1 to 100).
  Offset:
    in: query
    name: offset
    required: false
    type: integer
    minimum: 0
    description: The number of items to skip before starting to collect the result set.
  
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  ApiKey:
    type: apiKey
    name: X-Functions-Key
    in: header
    description: The API key to access this function app.
definitions:
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v18.0.7/openapi/definitions.yaml#/ProblemJson"
  Result:
    type: boolean
    default: true
  CreditorIstitutionEncodings:
    type: object
    properties:
      econdings:
        type: array
        items:
          $ref: "#/definitions/Encoding"
  Encoding:
        type: string
        example: id_codifica_codice_pa
        maxLength: 50
  Iban:
        type: string
        example: iban
        maxLength: 50        
  Ibans:      
    type: object
    properties:
      ibans:
        type: array
        items:
          $ref: "#/definitions/Iban"
  Stations:      
    type: object
    properties:
      stations:
        type: array
        items:
          $ref: "#/definitions/Station"
  Station:
    type: object
    properties:
      description:
        $ref: "#/definitions/Description"
    required:
      - description
  CreditorIstitutions:      
    type: object
    properties:
      creditor_istitutions:
        type: array
        items:
          $ref: "#/definitions/CreditorIstitution"
  CreditorIstitution:
    type: object
    properties:
      description:
        $ref: "#/definitions/Description"
      company_name:
        $ref: "#/definitions/FiscalCode"
    required:
      - description
      - company_name
  BrokersEC:      
    type: object
    properties:
      creditor_istitutions:
        type: array
        items:
          $ref: "#/definitions/Broker"
  Broker:
        type: string
        example: esempio
        maxLength: 50
  Description:
        type: string
        example: esempio
        maxLength: 50
  FiscalCode:
        type: string
        example: esempio
        maxLength: 50     
  CreditorIstitutionDetails:
    type: object
    properties:
      description:
        $ref: "#/definitions/Description"
      company_name:
        $ref: "#/definitions/FiscalCode"
      lista_delle_stazioni:
        type: array
        items:
          $ref: "#/definitions/Station"
    required:
      - description
      - company_name
  BrokerDetails:
    type: object
    properties:
      description:
        $ref: "#/definitions/Description"
    required:
      - description
  StationDetails:
    type: object
    properties:
      description:
        $ref: "#/definitions/Description"
      ecs:
        $ref: "#/definitions/Ecs"
    required:
      - description
  Ecs:      
    type: object
    properties:
      ecs:
        type: array
        items:
          $ref: "#/definitions/Ec"
  Ec:
        type: string
        example: esempio
        maxLength: 50     
          
      

